In [2]:
import pandas as pd
from tqdm import tqdm
demo = pd.read_csv('demographics.csv')

/Users/jaeheukjung/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (37,43,53) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [76]:
classes = pd.read_csv('four_classes_cleaned.csv')

In [49]:
courses = pd.read_csv('courses.csv')

In [59]:
courses= courses.loc[courses['SubjectID']>0]

In [36]:
courses = courses.groupby(['SubjectID', 'Year Term ID'])

In [43]:
dorms = courses['Dorm Area'].unique().to_dict()

In [44]:
dorms

{(172789163, 20062.0): array(['.'], dtype=object),
 (172846340, 20102.0): array(['.'], dtype=object),
 (172857770, 20162.0): array(['.'], dtype=object),
 (172877093, 19871.0): array(['.'], dtype=object),
 (172877093, 19872.0): array(['.'], dtype=object),
 (172877093, 20001.0): array(['.'], dtype=object),
 (172877093, 20002.0): array(['.'], dtype=object),
 (174316184, 19871.0): array(['.'], dtype=object),
 (174316184, 19872.0): array(['SUSAN B ANTHONY'], dtype=object),
 (174316184, 19874.0): array(['.'], dtype=object),
 (174316184, 19881.0): array(['QUAD'], dtype=object),
 (174316184, 19882.0): array(['.'], dtype=object),
 (174316184, 19891.0): array(['HILL COURT'], dtype=object),
 (174316184, 19892.0): array(['.'], dtype=object),
 (175397669, 19871.0): array(['.'], dtype=object),
 (175397669, 19872.0): array(['.'], dtype=object),
 (175397669, 19881.0): array(['.'], dtype=object),
 (175397669, 19882.0): array(['.'], dtype=object),
 (175397669, 19891.0): array(['.'], dtype=object),
 (175397669, 19892.0): array(['.'], dtype=object),
 (175397669, 19901.0): array(['.'], dtype=object),
 (175397669, 19902.0): array(['.'], dtype=object),
 (175397669, 19911.0): array(['.'], dtype=object),
 (175397669, 19912.0): array(['.'], dtype=object),
 (175397669, 19921.0): array(['.'], dtype=object),
 (175693463, 19972.0): array(['.'], dtype=object),
 (175693463, 19981.0): array(['.'], dtype=object),
 (175693463, 19982.0): array(['.'], dtype=object),
 (175693463, 19991.0): array(['.'], dtype=object),
 (175693463, 19992.0): array(['.'], dtype=object),
 (175693463, 20001.0): array(['.'], dtype=object),
 (175754600, 19901.0): array(['.'], dtype=object),
 (175754600, 19902.0): array(['.'], dtype=object),
 (175754600, 19911.0): array(['.'], dtype=object),
 (175754600, 19912.0): array(['.'], dtype=object),
 (175754600, 19921.0): array(['.'], dtype=object),
 (175754600, 19922.0): array(['.'], dtype=object),
 (175754600, 19931.0): array(['.'], dtype=object),
 (175754600, 19932.0): array(['.'], dtype=object),
 (175754600, 19941.0): array(['.'], dtype=object),
 (175754600, 19942.0): array(['.'], dtype=object),
 (175754600, 19951.0): array(['.'], dtype=object),
 (175754600, 19952.0): array(['.'], dtype=object),
 (175754600, 19961.0): array(['.'], dtype=object),
 (175754600, 19962.0): array(['.'], dtype=object),
 (175754600, 19971.0): array(['.'], dtype=object),
 (176716079, 19881.0): array(['SUSAN B ANTHONY'], dtype=object),
 (176716079, 19882.0): array(['.'], dtype=object),
 (176716079, 19891.0): array(['SOUTH CAMPUS'], dtype=object),
 (176716079, 19892.0): array(['.'], dtype=object),
 (176716079, 19894.0): array(['.'], dtype=object),
 (176716079, 19901.0): array(['OTHER'], dtype=object),
 (176716079, 19902.0): array(['.'], dtype=object),
 (176716079, 19911.0): array(['.'], dtype=object),
 (176716079, 19912.0): array(['.'], dtype=object),
 (176766650, 20042.0): array(['.'], dtype=object),
 (176766650, 20051.0): array(['.'], dtype=object),
 (176766650, 20052.0): array(['.'], dtype=object),
 (176766650, 20061.0): array(['.'], dtype=object),
 (177297344, 20081.0): array(['.'], dtype=object),
 (177297344, 20082.0): array(['.'], dtype=object),
 (177297344, 20091.0): array(['.'], dtype=object),
 (177978419, 19882.0): array(['.'], dtype=object),
 (177978419, 19884.0): array(['.'], dtype=object),
 (177978419, 19891.0): array(['.'], dtype=object),
 (177978419, 19892.0): array(['.'], dtype=object),
 (177978419, 19901.0): array(['.'], dtype=object),
 (177978419, 19902.0): array(['.'], dtype=object),
 (178226540, 19891.0): array(['.'], dtype=object),
 (178226540, 19892.0): array(['.'], dtype=object),
 (178226540, 19901.0): array(['.'], dtype=object),
 (178544321, 19891.0): array(['JACKSON COURT'], dtype=object),
 (178544321, 19892.0): array(['.'], dtype=object),
 (178544321, 19901.0): array(['SOUTH CAMPUS'], dtype=object),
 (178544321, 19902.0): array(['.'], dtype=object),
 (178544321, 19911.0): array(['OTHER'], dtype=object),
 (178544321, 19912.0): array(['.'], dtype=object),
 (178544321, 19921.0): array(['.'], dtype=object),
 (178544321, 19922.0): array(['QUAD'], dtype=object),
 (178544321, 19931.0): array(['.'], dtype=object),
 (178544321, 19992.0): array(['.'], dtype=object),
 (178544321, 20001.0): array(['.'], dtype=object),
 (178556669, 19884.0): array(['.'], dtype=object),
 (178556669, 19891.0): array(['.'], dtype=object),
 (178556669, 19892.0): array(['.'], dtype=object),
 (178556669, 19894.0): array(['.'], dtype=object),
 (178556669, 19901.0): array(['.'], dtype=object),
 (178556669, 19991.0): array(['.'], dtype=object),
 (178556669, 19992.0): array(['.'], dtype=object),
 (178556669, 20001.0): array(['.'], dtype=object),
 (178556669, 20002.0): array(['.'], dtype=object),
 (178556669, 20011.0): array(['.'], dtype=object),
 (178556669, 20012.0): array(['.'], dtype=object),
 (178556669, 20021.0): array(['.'], dtype=object),
 (178556669, 20022.0): array(['.'], dtype=object),
 (178638092, 19891.0): array(['.'], dtype=object),
 (178638092, 19892.0): array(['.'], dtype=object),
 (178638092, 19901.0): array(['.'], dtype=object),
 (178638092, 19902.0): array(['.'], dtype=object),
 (178638092, 19911.0): array(['.'], dtype=object),
 (178638092, 19912.0): array(['.'], dtype=object),
 (178638092, 19921.0): array(['.'], dtype=object),
 (178644608, 19884.0): array(['.'], dtype=object),
 (178644608, 19891.0): array(['SUSAN B ANTHONY'], dtype=object),
 (178644608, 19892.0): array(['.'], dtype=object),
 (178644608, 19901.0): array(['JACKSON COURT'], dtype=object),
 (178644608, 19902.0): array(['.'], dtype=object),
 (178644608, 19911.0): array(['OTHER'], dtype=object),
 (178644608, 19912.0): array(['.'], dtype=object),
 (178644608, 19921.0): array(['SOUTH CAMPUS'], dtype=object),
 (178644608, 19922.0): array(['.'], dtype=object),
 (178644608, 19931.0): array(['SOUTH CAMPUS'], dtype=object),
 (178644608, 19932.0): array(['.'], dtype=object),
 (178644608, 19934.0): array(['.'], dtype=object),
 (178644608, 19942.0): array(['.'], dtype=object),
 (178644608, 20012.0): array(['.'], dtype=object),
 (178686296, 19891.0): array(['SUSAN B ANTHONY'], dtype=object),
 (178686296, 19892.0): array(['.'], dtype=object),
 (178686296, 19901.0): array(['SOUTH CAMPUS'], dtype=object),
 (178686296, 19902.0): array(['.'], dtype=object),
 (178686296, 19911.0): array(['OTHER'], dtype=object),
 (178686296, 19912.0): array(['.'], dtype=object),
 (178686296, 19921.0): array(['HILL COURT'], dtype=object),
 (178686296, 19922.0): array(['.'], dtype=object),
 (178686296, 20052.0): array(['.'], dtype=object),
 (178686296, 20061.0): array(['.'], dtype=object),
 (178686296, 20062.0): array(['.'], dtype=object),
 (178686296, 20071.0): array(['.'], dtype=object),
 (178686296, 20072.0): array(['.'], dtype=object),
 (178686296, 20081.0): array(['.'], dtype=object),
 (178686296, 20082.0): array(['.'], dtype=object),
 (178744463, 19884.0): array(['.'], dtype=object),
 (178744463, 19891.0): array(['JACKSON COURT'], dtype=object),
 (178744463, 19892.0): array(['.'], dtype=object),
 (178744463, 19901.0): array(['SOUTH CAMPUS'], dtype=object),
 (178744463, 19902.0): array(['.'], dtype=object),
 (178744463, 19911.0): array(['HILL COURT'], dtype=object),
 (178744463, 19912.0): array(['.'], dtype=object),
 (178744463, 19921.0): array(['HILL COURT'], dtype=object),
 (178744463, 19922.0): array(['.'], dtype=object),
 (178744463, 19931.0): array(['.'], dtype=object),
 (178744463, 19932.0): array(['.'], dtype=object),
 (179236322, 19921.0): array(['OTHER'], dtype=object),
 (179236322, 19922.0): array(['.'], dtype=object),
 (179236322, 19931.0): array(['QUAD'], dtype=object),
 (179236322, 19932.0): array(['.'], dtype=object),
 (179236322, 19941.0): array(['.'], dtype=object),
 (179236322, 19942.0): array(['.'], dtype=object),
 (179310860, 19901.0): array(['QUAD'], dtype=object),
 (179310860, 19902.0): array(['.'], dtype=object),
 (179310860, 19911.0): array(['QUAD'], dtype=object),
 (179310860, 19912.0): array(['.'], dtype=object),
 (179310860, 19921.0): array(['.'], dtype=object),
 (179310860, 19922.0): array(['.'], dtype=object),
 (179310860, 19931.0): array(['.'], dtype=object),
 (179310860, 19932.0): array(['.'], dtype=object),
 (179310860, 19934.0): array(['.'], dtype=object),
 (179310860, 19992.0): array(['.'], dtype=object),
 (179342324, 19901.0): array(['SUSAN B ANTHONY'], dtype=object),
 (179342324, 19902.0): array(['.'], dtype=object),
 (179342324, 19911.0): array(['SOUTH CAMPUS'], dtype=object),
 (179342324, 19912.0): array(['.'], dtype=object),
 (179342324, 19921.0): array(['FRATERNITIES'], dtype=object),
 (179342324, 19922.0): array(['.'], dtype=object),
 (179342324, 19931.0): array(['FRATERNITIES'], dtype=object),
 (179342324, 19932.0): array(['.'], dtype=object),
 (179342324, 19941.0): array(['.'], dtype=object),
 (179342324, 19942.0): array(['.'], dtype=object),
 (179342324, 19944.0): array(['.'], dtype=object),
 (179342324, 19951.0): array(['.'], dtype=object),
 (179485433, 19901.0): array(['QUAD'], dtype=object),
 (179485433, 19902.0): array(['.'], dtype=object),
 (179485433, 19904.0): array(['.'], dtype=object),
 (179485433, 19911.0): array(['QUAD'], dtype=object),
 (179485433, 19912.0): array(['.'], dtype=object),
 (179485433, 19914.0): array(['.'], dtype=object),
 (179485433, 19921.0): array(['.'], dtype=object),
 (179485433, 19922.0): array(['QUAD'], dtype=object),
 (179485433, 19931.0): array(['.'], dtype=object),
 (179485433, 19932.0): array(['.'], dtype=object),
 (179485433, 19934.0): array(['.'], dtype=object),
 (179485433, 19941.0): array(['QUAD'], dtype=object),
 (179485433, 19942.0): array(['.'], dtype=object),
 (179560952, 19911.0): array(['JACKSON COURT'], dtype=object),
 (179560952, 19912.0): array(['.'], dtype=object),
 (179560952, 19921.0): array(['.'], dtype=object),
 (179560952, 19922.0): array(['.'], dtype=object),
 (179560952, 19931.0): array(['.'], dtype=object),
 (179560952, 19932.0): array(['.'], dtype=object),
 (179560952, 19941.0): array(['.'], dtype=object),
 (179560952, 19942.0): array(['FRATERNITIES'], dtype=object),
 (179560952, 19951.0): array(['.'], dtype=object),
 (179560952, 20031.0): array(['.'], dtype=object),
 (179560952, 20032.0): array(['.'], dtype=object),
 (179738225, 19901.0): array(['.'], dtype=object),
 (179738225, 19902.0): array(['.'], dtype=object),
 (179738225, 19904.0): array(['.'], dtype=object),
 (179738225, 19911.0): array(['.'], dtype=object),
 (179738225, 19912.0): array(['.'], dtype=object),
 (179738225, 19914.0): array(['.'], dtype=object),
 (179738225, 19921.0): array(['.'], dtype=object),
 (179738225, 19922.0): array(['.'], dtype=object),
 (179738225, 19924.0): array(['.'], dtype=object),
 (179738225, 19931.0): array(['.'], dtype=object),
 (179738225, 19932.0): array(['.'], dtype=object),
 (179738225, 19934.0): array(['.'], dtype=object),
 (179738225, 19941.0): array(['.'], dtype=object),
 (179738225, 19942.0): array(['.'], dtype=object),
 (179738225, 19944.0): array(['.'], dtype=object),
 (179738225, 19951.0): array(['.'], dtype=object),
 (179738225, 19952.0): array(['.'], dtype=object),
 (179738225, 19961.0): array(['.'], dtype=object),
 (179738225, 19962.0): array(['.'], dtype=object),
 (179738225, 19964.0): array(['.'], dtype=object),
 (179738225, 19971.0): array(['.'], dtype=object),
 (179738225, 19972.0): array(['.'], dtype=object),
 (179738225, 19981.0): array(['.'], dtype=object),
 (179738225, 19982.0): array(['.'], dtype=object),
 (179738225, 20024.0): array(['.'], dtype=object),
 (179738225, 20031.0): array(['.'], dtype=object),
 (179738225, 20032.0): array(['.'], dtype=object),
 (179738225, 20034.0): array(['.'], dtype=object),
 (179738225, 20052.0): array(['.'], dtype=object),
 (179785178, 19901.0): array(['SUSAN B ANTHONY'], dtype=object),
 (179785178, 19902.0): array(['.'], dtype=object),
 (179785178, 19911.0): array(['QUAD'], dtype=object),
 (179785178, 19912.0): array(['.'], dtype=object),
 (179785178, 19921.0): array(['SOUTH CAMPUS'], dtype=object),
 (179785178, 19922.0): array(['.'], dtype=object),
 (179785178, 19931.0): array(['OTHER'], dtype=object),
 (179785178, 19932.0): array(['.'], dtype=object),
 (179785178, 19941.0): array(['OTHER'], dtype=object),
 (179785178, 19942.0): array(['.'], dtype=object),
 (179785178, 20072.0): array(['.'], dtype=object),
 (179785178, 20081.0): array(['.'], dtype=object),
 (179860085, 19911.0): array(['.'], dtype=object),
 (179860085, 19912.0): array(['.'], dtype=object),
 (179860085, 19921.0): array(['.'], dtype=object),
 (179860085, 19922.0): array(['.'], dtype=object),
 (179860085, 19924.0): array(['.'], dtype=object),
 (179860085, 19931.0): array(['.'], dtype=object),
 (179860085, 19932.0): array(['.'], dtype=object),
 (179860085, 19934.0): array(['.'], dtype=object),
 (179988596, 19911.0): array(['SUSAN B ANTHONY'], dtype=object),
 (179988596, 19912.0): array(['.'], dtype=object),
 (179988596, 19921.0): array(['.'], dtype=object),
 (179988596, 19922.0): array(['.'], dtype=object),
 (179988596, 19931.0): array(['.'], dtype=object),
 (179988596, 19932.0): array(['.'], dtype=object),
 (179988596, 19941.0): array(['.'], dtype=object),
 (179988596, 19942.0): array(['.'], dtype=object),
 (179988596, 19951.0): array(['.'], dtype=object),
 (179988596, 19952.0): array(['.'], dtype=object),
 (179988596, 20021.0): array(['.'], dtype=object),
 (179988596, 20022.0): array(['.'], dtype=object),
 (180716948, 19911.0): array(['.'], dtype=object),
 (180716948, 19912.0): array(['.'], dtype=object),
 (180765215, 19911.0): array(['JACKSON COURT'], dtype=object),
 (180765215, 19912.0): array(['.'], dtype=object),
 (180765215, 19921.0): array(['JACKSON COURT'], dtype=object),
 (180765215, 19922.0): array(['.'], dtype=object),
 (180765215, 19931.0): array(['JACKSON COURT'], dtype=object),
 (180765215, 19932.0): array(['.'], dtype=object),
 (180765215, 19941.0): array(['.'], dtype=object),
 (180765215, 19942.0): array(['.'], dtype=object),
 (180765215, 19951.0): array(['.'], dtype=object),
 (180765215, 19952.0): array(['.'], dtype=object),
 (180765215, 19961.0): array(['.'], dtype=object),
 (180765215, 19962.0): array(['.'], dtype=object),
 (180765215, 19971.0): array(['.'], dtype=object),
 (180765215, 19972.0): array(['.'], dtype=object),
 (180765215, 19981.0): array(['.'], dtype=object),
 (180765215, 19982.0): array(['.'], dtype=object),
 (180765215, 19991.0): array(['.'], dtype=object),
 (180765215, 19992.0): array(['.'], dtype=object),
 (180765215, 20001.0): array(['.'], dtype=object),
 (180765215, 20011.0): array(['.'], dtype=object),
 (180885743, 20021.0): array(['.'], dtype=object),
 (180885743, 20022.0): array(['.'], dtype=object),
 (180885743, 20031.0): array(['.'], dtype=object),
 (180885743, 20032.0): array(['.'], dtype=object),
 (180885743, 20041.0): array(['.'], dtype=object),
 (180885743, 20042.0): array(['.'], dtype=object),
 (181015370, 19931.0): array(['.'], dtype=object),
 (181015370, 19932.0): array(['.'], dtype=object),
 (181015370, 19941.0): array(['QUAD'], dtype=object),
 (181015370, 19942.0): array(['.'], dtype=object),
 (181015370, 19951.0): array(['.'], dtype=object),
 (181015370, 20111.0): array(['.'], dtype=object),
 (181101698, 19911.0): array(['.'], dtype=object),
 (181302731, 19931.0): array(['.'], dtype=object),
 (181406645, 19921.0): array(['SUSAN B ANTHONY'], dtype=object),
 (181406645, 19922.0): array(['.'], dtype=object),
 (181406645, 19931.0): array(['SOUTH CAMPUS'], dtype=object),
 (181406645, 19932.0): array(['.'], dtype=object),
 (181406645, 19941.0): array(['HILL COURT'], dtype=object),
 (181406645, 19942.0): array(['.'], dtype=object),
 (181406645, 19951.0): array(['.'], dtype=object),
 (181406645, 19952.0): array(['.'], dtype=object),
 (181406645, 19961.0): array(['.'], dtype=object),
 (181406645, 19962.0): array(['.'], dtype=object),
 (181406645, 19964.0): array(['.'], dtype=object),
 (181406645, 19991.0): array(['.'], dtype=object),
 (181406645, 19992.0): array(['.'], dtype=object),
 (181406645, 19994.0): array(['.'], dtype=object),
 (181500533, 19921.0): array(['QUAD'], dtype=object),
 (181500533, 19922.0): array(['.'], dtype=object),
 (181500533, 19931.0): array(['.'], dtype=object),
 (181500533, 19932.0): array(['.'], dtype=object),
 (181500533, 19941.0): array(['.'], dtype=object),
 (181500533, 19942.0): array(['.'], dtype=object),
 (181500533, 19951.0): array(['.'], dtype=object),
 (181500533, 19952.0): array(['JACKSON COURT'], dtype=object),
 (181500533, 19961.0): array(['.'], dtype=object),
 (181500533, 19962.0): array(['.'], dtype=object),
 (181500533, 19964.0): array(['.'], dtype=object),
 (181500533, 19972.0): array(['.'], dtype=object),
 (181500533, 20001.0): array(['.'], dtype=object),
 (181661192, 19921.0): array(['.'], dtype=object),
 (181661192, 19922.0): array(['QUAD'], dtype=object),
 (181661192, 19931.0): array(['QUAD'], dtype=object),
 (181661192, 19932.0): array(['.'], dtype=object),
 (181661192, 19941.0): array(['HILL COURT'], dtype=object),
 (181661192, 19942.0): array(['.'], dtype=object),
 (181661192, 19951.0): array(['.'], dtype=object),
 (181661192, 19952.0): array(['.'], dtype=object),
 (181727891, 19931.0): array(['SUSAN B ANTHONY'], dtype=object),
 (181727891, 19932.0): array(['.'], dtype=object),
 (181727891, 19941.0): array(['.'], dtype=object),
 (181727891, 19942.0): array(['.'], dtype=object),
 (181727891, 19951.0): array(['.'], dtype=object),
 (181727891, 19952.0): array(['.'], dtype=object),
 (181727891, 19961.0): array(['.'], dtype=object),
 (181727891, 19962.0): array(['.'], dtype=object),
 (181727891, 19971.0): array(['.'], dtype=object),
 (181727891, 19972.0): array(['.'], dtype=object),
 (181727891, 19981.0): array(['.'], dtype=object),
 (181727891, 19982.0): array(['.'], dtype=object),
 (181727891, 20052.0): array(['.'], dtype=object),
 (181727891, 20061.0): array(['.'], dtype=object),
 (181727891, 20062.0): array(['.'], dtype=object),
 (181727891, 20071.0): array(['.'], dtype=object),
 (181727891, 20072.0): array(['.'], dtype=object),
 (181727891, 20081.0): array(['.'], dtype=object),
 (181727891, 20082.0): array(['.'], dtype=object),
 (181879631, 19921.0): array(['SUSAN B ANTHONY'], dtype=object),
 (181879631, 19922.0): array(['.'], dtype=object),
 (181879631, 19931.0): array(['.'], dtype=object),
 (181912265, 19921.0): array(['SUSAN B ANTHONY'], dtype=object),
 (181912265, 19922.0): array(['.'], dtype=object),
 (181912265, 19931.0): array(['QUAD'], dtype=object),
 (181912265, 19932.0): array(['.'], dtype=object),
 (181912265, 19941.0): array(['QUAD'], dtype=object),
 (181912265, 19942.0): array(['.'], dtype=object),
 (181912265, 19951.0): array(['.'], dtype=object),
 (181912265, 19952.0): array(['.'], dtype=object),
 (181912265, 19961.0): array(['.'], dtype=object),
 (181912265, 19962.0): array(['.'], dtype=object),
 (181912265, 20032.0): array(['.'], dtype=object),
 (181912265, 20034.0): array(['.'], dtype=object),
 (181912265, 20041.0): array(['.'], dtype=object),
 (182067758, 19914.0): array(['.'], dtype=object),
 (182067758, 19921.0): array(['SUSAN B ANTHONY'], dtype=object),
 (182067758, 19922.0): array(['.'], dtype=object),
 (182067758, 19931.0): array(['SOUTH CAMPUS'], dtype=object),
 (182067758, 19932.0): array(['.'], dtype=object),
 (182067758, 19941.0): array(['SOUTH CAMPUS'], dtype=object),
 (182067758, 19942.0): array(['.'], dtype=object),
 (182067758, 19951.0): array(['.'], dtype=object),
 (182067758, 19952.0): array(['.'], dtype=object),
 (182067758, 19992.0): array(['.'], dtype=object),
 (182072276, 19914.0): array(['.'], dtype=object),
 (182072276, 19921.0): array(['.'], dtype=object),
 (182072276, 19922.0): array(['SUSAN B ANTHONY'], dtype=object),
 (182072276, 19931.0): array(['.'], dtype=object),
 (182072276, 19932.0): array(['.'], dtype=object),
 (182072276, 19941.0): array(['.'], dtype=object),
 (182072276, 19942.0): array(['.'], dtype=object),
 (182072276, 19951.0): array(['.'], dtype=object),
 (182072276, 19961.0): array(['.'], dtype=object),
 (182072276, 19991.0): array(['.'], dtype=object),

In [64]:
majors = courses.groupby(['Ps1 Major1 Code'])

AttributeError: Cannot access attribute 'values' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [71]:
majors_dict= majors['SubjectID'].unique().to_dict()

In [77]:
one= classes.loc[classes['Classification']=='NG']
two= classes.loc[classes['Classification']=='TP']
three = classes.loc[classes['Classification']=='NT']
four = classes.loc[classes['Classification']=='N']

In [78]:
One= one['SubjectID'].unique()
Two= two['SubjectID'].unique()
Three= three['SubjectID'].unique()
Four= four['SubjectID'].unique()

In [102]:
check = sum(el in One for el in Three)

In [105]:
check = (len(One)+len(Two)+len(Three)+len(Four))

In [106]:
check

20381

In [87]:
breakdown={}
for k,v in majors_dict.items():
    percents=[]
    ones = sum(el in v for el in One)
    percents.append(ones)
    twos = sum(el in v for el in Two)
    percents.append(twos)
    threes= sum(el in v for el in Three)
    percents.append(threes)
    fours = sum(el in v for el in Four)
    percents.append(fours)
    breakdown.update({k:percents})

In [112]:
breakdown.get('BME')

[101, 22, 442, 645]

Classification breakdown for each major groups. graphs archived

In [165]:
import matplotlib.pyplot as plt
import numpy as np
import os
def func(pct, allvals):
    absolute = int(pct/100.*np.sum(allvals))
    return "{:.1f}%\n({:d})".format(pct, absolute)
def vizualize(major):
    counts = breakdown.get(major)
    names= 'Normal', 'Nine to Twelve', 'Thirteen Plus', 'Non Graduate'
    size = [counts[3], counts[2], counts[1], counts[0]]
    explode = [0,0,0,0.1]
    fig = plt.figure(dpi=150)
    fig.patch.set_facecolor('white')
    plt.rcParams['text.color'] = 'black'
    plt.pie(size, labels=names,autopct=lambda pct: func(pct, size), explode= explode)
    p=plt.gcf()
    output_path = os.path.join('graphs',major+'.png')
    plt.savefig(output_path)

In [90]:
df = pd.DataFrame(breakdown)
df.to_csv('breakdown.csv')

In [14]:
dorms_by_term=[]
for i in tqdm(courses['SubjectID'].unique()):
    temp = []
    x = courses.loc[courses['SubjectID']==i]
    temp.append(i)
    temp.append(x['Dorm Area'].values)
    dorms_by_term.append(temp)

100%|| 20880/20880 [00:29<00:00, 696.93it/s]

In [21]:
dorms_by_term[8]

[176716079, array(['SUSAN B ANTHONY', 'SUSAN B ANTHONY', 'SUSAN B ANTHONY',
        'SUSAN B ANTHONY', 'SUSAN B ANTHONY', '.', '.', '.', '.',
        'SOUTH CAMPUS', 'SOUTH CAMPUS', 'SOUTH CAMPUS', 'SOUTH CAMPUS',
        'SOUTH CAMPUS', 'SOUTH CAMPUS', 'SOUTH CAMPUS', 'SOUTH CAMPUS',
        '.', '.', '.', '.', '.', '.', '.', '.', 'OTHER', 'OTHER', 'OTHER',
        'OTHER', 'OTHER', '.', '.', '.', '.', '.', '.', '.', '.', '.', '.',
        '.', '.', '.', '.', '.'], dtype=object)]

In [170]:
male = classes.loc[classes['Gender']=='M']

In [174]:
female = classes.loc[classes['Gender']=='F']

In [172]:
male = male.groupby('Ps1 Major1 Code').mean()

In [175]:
female = female.groupby('Ps1 Major1 Code').mean()

In [180]:
male_mean = pd.DataFrame(male)

In [181]:
female_mean = pd.DataFrame(female)

In [182]:
male_mean.to_csv('male_mean.csv')

In [183]:
female_mean.to_csv('female_mean.csv')

Further Cleaning of dataset. much coding was lost due to excessive memory size of the dataframe. Performed things like mining out the minimum gpa, number of majors each students had,classifying the 'fake zeros' of the students (fake zero means 0 term gpa was not due to poor academic performance)ect. This was important step of the project since it mined out the data needed to simplify the Term gpas into columns.

In [579]:
df.head()

,SubjectID,Year Term ID,Term GPA,Term Hrs Earned,Term Hrs GPA,Term Points Earned,Cumul GPA,Cumul Hrs Earned,Cumul Hrs GPA,Cumul Points Earned,Term Transfer Hrs
0,172789163,20062.0,0.00,0.0,0.0,0.0,3.07,128.0,128.0,393.2,0.0
1,172846340,20102.0,3.30,8.0,8.0,26.4,2.70,128.0,77.0,207.8,26.0
2,172857770,20162.0,0.00,0.0,0.0,0.0,2.20,128.0,124.0,273.2,0.0
3,172857770,20171.0,0.00,0.0,0.0,0.0,2.20,132.0,124.0,273.2,4.0
4,172877093,19871.0,1.33,12.0,12.0,16.0,1.77,85.0,97.0,171.8,0.0

In [581]:
df= df.drop(['Term Hrs GPA', 'Term Points Earned','Cumul Hrs GPA','Cumul Hrs Earned','Term Transfer Hrs', 'Cumul Points Earned'], axis =1)

In [583]:
df= df.drop(['Term Hrs Earned'], axis =1)

In [584]:
df.head()

   SubjectID  Year Term ID  Term GPA  Cumul GPA
0  172789163       20062.0      0.00       3.07
1  172846340       20102.0      3.30       2.70
2  172857770       20162.0      0.00       2.20
3  172857770       20171.0      0.00       2.20
4  172877093       19871.0      1.33       1.77

In [601]:
df_zeros = df.loc[(df['Term GPA']==0)&(df['SubjectID'].diff(periods=1)==0)&(df['Cumul GPA'].diff(periods =1)<0)].index

In [602]:
fake_zero= []
fake_zeros = df.loc[df['Term GPA']==0].index
for i in fake_zeros:
    if i not in df_zeros:
        fake_zero.append(i)

In [605]:
df_new = df.drop(fake_zero)

In [606]:
df_new

        SubjectID  Year Term ID  Term GPA  Cumul GPA
1       172846340       20102.0      3.30       2.70
4       172877093       19871.0      1.33       1.77
6       172877093       20001.0      3.00       2.34
7       172877093       20002.0      4.00       2.38
14      173973086       19921.0      3.66       3.66
...           ...           ...       ...        ...
175033  255137993       20172.0      4.00       3.33
175035  255137993       20182.0      3.68       3.40
175036  255137993       20191.0      4.00       3.48
175038  255461372       20152.0      3.00       3.00
175039  255461372       20161.0      0.70       2.43

[154917 rows x 4 columns]

In [577]:
classes = pd.read_csv('four_classes_cleaned.csv')

In [578]:
classes.head()

,Unnamed: 0,SubjectID,Year Term ID_x,Term GPA,Cumul GPA,Cumul Hrs Earned,Cumul Hrs GPA,Term Transfer Hrs,Year Term ID_y,Ps1 Timestat Code,...,Ps2 Major2 Code,Credit Hrs,Repeated Flag,Grade,Reported Grade,Dorm Area,Ps1 Acad Standing Desc,Gender,Citizen Country Name,Classification
0,0,172789163,20062.0,0.0,3.07,128.0,128.0,0.0,20062.0,X,...,NaN,0.0,N,K,.,.,ACTIVE,M,USA,N
1,1,172846340,20102.0,3.3,2.70,128.0,77.0,26.0,20102.0,P,...,NaN,4.0,N,B+,B+,.,PROBATION,F,USA,N
2,2,172846340,20102.0,3.3,2.70,128.0,77.0,26.0,20102.0,P,...,NaN,4.0,N,B+,B+,.,PROBATION,F,USA,N
3,3,172857770,20162.0,0.0,2.20,128.0,124.0,0.0,20162.0,F,...,NaN,0.0,N,.,.,.,ACTIVE,M,USA,N
4,4,172857770,20171.0,0.0,2.20,132.0,124.0,4.0,20162.0,F,...,NaN,0.0,N,.,.,.,ACTIVE,M,USA,N

In [609]:
ddd.head()

,SubjectID,Year Term ID_x,Term GPA,Cumul GPA,Ps1 Timestat Code,Ps1 Ofcl Stat Flag,Ps1 Major1 Code,Ps1 Acad Standing Desc,Gender,Citizen Country Name,Degree Major1 Discipline Code,Classification,Min_GPA,Hardest Semester
0,172846340,20102.0,3.30,2.70,P,Y,PSC,PROBATION,F,USA,SOCS,4,3.3,
2,175397669,19871.0,2.33,2.33,F,N,PSC,ACTIVE,M,USA,NaN,1,1.13,
8,175397669,19871.0,2.33,2.33,F,Y,ECO,ACTIVE,M,USA,NaN,1,1.13,
14,175397669,19871.0,2.33,2.33,F,Y,ECO,PROBATION,M,USA,NaN,1,1.13,
19,175397669,19871.0,2.33,2.33,P,N,UNC,PROBATION,M,USA,NaN,1,1.13,

In [617]:
for i in tqdm(ddd['SubjectID'].unique()):
    x = ddd.loc[ddd['SubjectID']==i]
    Min_semester = np.argmin(x['Term GPA'].unique())
    ddd.loc[ddd['SubjectID']==i, 'Hardest Semester']=Min_semester

100%|| 20181/20181 [09:45<00:00, 34.49it/s]

In [616]:
ddd['Hardest Semester']=''

In [614]:
Min_semester = np.argmin(y['Term GPA'].unique())

In [619]:
ddd_final = ddd.drop(['Year Term ID_x', 'Term GPA'], axis =1)

In [628]:
major_change_One = ddd.groupby('SubjectID').nunique()

In [630]:
major_changes = pd.DataFrame(major_change_One)

In [636]:
major_num_dict = major_changes['Ps1 Major1 Code'].to_dict()

ddd_final was the final model used to perform machine learning

In [635]:
ddd_final['major counts'] = ''

In [637]:
ddd_final['major counts'] = ddd_final['SubjectID'].map(major_num_dict)

In [639]:
ddd_final['major counts'].value_counts()

2    222780
1    118870
3     49153
4      8851
5       998
6       167
Name: major counts, dtype: int64

In [642]:
ddd_final.to_csv('model_final.csv')