In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("gpa_ds.csv")

In [3]:
courses = pd.read_csv('courses.csv')
demo = pd.read_csv('demographics.csv')

/Users/jaeheukjung/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (2,3,4,5,6,7,8,9,12,13,14,17,18,19,21,22,23,25,26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/jaeheukjung/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (37,43,53) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
courses = courses.loc[courses["SubjectID"]>0]
demo = demo.loc[demo['SubjectID']>0]
df = df.loc[df['SubjectID']>0]

In [24]:
courses.columns

Index(['SubjectID', 'Year Term ID', 'Ps1 Timestat Code', 'Ps1 Ofcl Stat Flag',
       'Ps1 Major1 Code', 'Ps1 Major2 Code', 'Ps2 Ofcl Stat Flag',
       'Ps2 Major1 Code', 'Ps2 Major2 Code', 'Ps1 Class Code', 'CRN',
       'College Code', 'Subject Code', 'Course No', 'Course Discipline Code',
       'Parent CRN', 'Parent College Code', 'Parent Subject Code',
       'Parent Course No', 'Parent Discipline Code', 'Credit Hrs',
       'Repeated Flag', 'Reg Status Desc', 'Grade', 'Grade Value',
       'Reported Grade', 'Ps1 Enroll Status Desc', 'Ps1 Withdraw Code',
       'Ps1 Withdraw Reason', 'Dorm Area', 'Ps1 Acad Standing Desc'],
      dtype='object')

In [25]:
courses = courses.drop( ['Ps1 Class Code', 'CRN',
       'College Code', 'Subject Code', 'Course No', 'Course Discipline Code',
       'Parent CRN', 'Parent College Code', 'Parent Subject Code',
       'Parent Course No', 'Parent Discipline Code'], axis = 1)

In [26]:
courses= courses.drop(['Reg Status Desc', 'Grade Value','Ps1 Enroll Status Desc', 'Ps1 Withdraw Code',
       'Ps1 Withdraw Reason'], axis = 1)

In [27]:
demo = demo.drop(['Visa Code', 'Visa Desc', 'Citizen Type',
       'Citizen Country Code',
       '2010 IPEDS Ethnicity Description', '2010 Ethnicity Short Desc',
       'Veteran Status Desc', 'HS State Prov',
       'HS Postal Code', 'HS Country', 'HS Rank', 'HS Size',
       'HS Graduation Date', 'SAT Verbal', 'SAT Math', 'SAT Writing','ACT English', 'ACT Math', 'ACT Soc Science',
       'ACT Nat Science','B - Type Desc', 'B - Class Year',
       'B - Time Status Code', 'B - Degree Code', 'B - Major1 Code',
       'B - Major2 Code', 'B - Response Code', 'B - Response Desc',
       'B - Response Date', 'B - Action Code', 'B - Action Desc',
       'B - Action Date', 'B - Transfer College Code',
       'B - Transfer College Name', 'B - Transfer GPA',
       'B - Graduated College Name', 'Und Cohort First YT', # B = admissions
       'Transfer Year Term', 'Cohort Major1 Disc Code',
       'Cohort Major1 Dept Code', 'Cohort Major1 Code',
       'Cohort Major2 Disc Code', 'Cohort Major2 Dept Code', # cohort = census 
       'Cohort Major2 Code', 'Degree Code', 'Degree Class Year',
       'Degree Major1 Discipline Code', 'Degree Major1 Dept Code',
       'Degree Major1 Code', 'Degree Major2 Discipline Code',
       'Degree Major2 Dept Code', 'Degree Major2 Code', 'Degree Minor1 Code',
       'Degree Minor2 Code', 'Degree Minor3 Code', 'Clust1 Code',
       'Clust1 Dept Code', 'Clust2 Code', 'Clust2 Dept Code',
       'Degree Honors Code'] , axis = 1)

In [28]:
dataframe = pd.merge(df, courses, on='SubjectID')

In [29]:
dataframe = pd.merge(dataframe, demo, on='SubjectID')

In [ ]:
dataframe.columns

In [ ]:
freshmen_gpa = {}

In [ ]:
dataframe.columns

In [ ]:
dataframe_heatmap = dataframe.drop( ['Ps2 Ofcl Stat Flag',
       'Ps2 Major1 Code', 'Ps2 Major2 Code', 'Credit Hrs','Year Term ID_x','Term Hrs Earned','Cumul Hrs Earned',
       'Cumul Hrs GPA', 'Cumul Points Earned', 'Term Transfer Hrs',
       'Year Term ID_y', 'Ps1 Timestat Code'], axis = 1)

In [ ]:
dataframe_heatmap['Ps1 Ofcl Stat Flag'].value_counts()

In [ ]:
for i in dataframe['SubjectID'].unique():
    x = dataframe.loc[dataframe['SubjectID']==i]
    freshmen_gpa.update({i: x['Cumul GPA'].iloc[0]})

In [ ]:
trends= []
for i in dataframe['SubjectID'].unique():
    trend = []
    x= dataframe.loc[dataframe['SubjectID']==i]
    y = x['Term GPA'].unique()
    trend.append(y)
    trend.append()

In [ ]:
low_freshmen = []
One_freshmen = []
for i,j in freshmen_gpa.items():
    if(j<2.0):
        low_freshmen.append(i)
    if(j<1.0):
        One_freshmen.append(i)

In [ ]:
len(low_freshmen)

In [ ]:
len(One_freshmen)

In [ ]:
plt.hist(freshmen_gpa.values())

In [ ]:
graduated = dataframe.loc[dataframe['Degree Confer Date'].isnull()==False]
non_graduate = dataframe.loc[dataframe['Degree Confer Date'].isnull()==True]

In [ ]:
non_graduate

In [ ]:
plt.figure( dpi= 200)
plt.hist(graduated['Cumul GPA'])

In [ ]:
plt.figure(dpi =200)
plt.hist(non_graduate['Cumul GPA'])

In [ ]:
count = 0 
non_grad_dict = {}
def gpa_dict(df, col1, col2, dictionary): #gets the final GPAs of the students. Insert dataframe
    for i in df[col].unique():
        count = count+1
        perc = count/len(df[col].unique())
        if(perc>.10==0):
            print(perc)
            count = 0
        x = df.loc[df[col]==i]
        dictionary.update({i: x[col2].iloc[len(x)-1]})

In [ ]:
ex = non_graduate.loc[non_graduate['SubjectID']==175397669]
print(ex['Cumul GPA'].iloc[len(ex)-1])

In [ ]:
count = 0
count_1 = 0
for x in non_graduate['SubjectID'].unique():
    if(x in low_freshmen):
        count = count+1
    if(x in One_freshmen):
        count_1= count_1+1
print(count)
print(count_1)

In [ ]:
279/293

In [ ]:
587/848 # 70 % of the students who were below 2.0 in freshmen year/ first semester did not graduate

In [ ]:
for x in non_graduate['SubjectID']

In [ ]:
long =(non_graduate['SubjectID'].unique())

In [ ]:
long = np.array(long)

In [ ]:
import numpy as np
long_student= np.unique(longer)

In [ ]:
longer = np.array(longer)

In [ ]:
longer = np.append(longer, long )

In [ ]:
long_student = np.unique(longer)

In [ ]:
len(long_student)

In [ ]:
count = 0
for x in long_student:
    if(x in low_freshmen):
        count = count+1
print(count)

In [ ]:
610/848

In [ ]:
non_graduate['First Generation Flag'].value_counts(normalize = True)

In [ ]:
graduated['First Generation Flag'].value_counts(normalize = True)

In [ ]:
non_graduate = non_graduate.drop(['Year Term ID_y', 'Cumul Points Earned', 'Term Transfer Hrs'], axis = 1)

In [ ]:
for i in graduated.select_dtypes(include=[object]):
    print(i)
    print('graduated')
    print(graduated[i].value_counts(normalize = True))
    print('non graduate')
    print(non_graduate[i].value_counts(normalize = True))

In [ ]:
plt.scatter(non_graduate[''])

In [ ]:
len(dataframe['SubjectID'].unique())

In [ ]:
len(courses['SubjectID'].unique())

In [ ]:
len(demo ['SubjectID'].unique())

In [ ]:
dataframe

In [ ]:
df= df.dropna()

In [ ]:
df

In [ ]:
test_value_list = test['SubjectID'].value_counts().to_dict()

In [ ]:
value_list = {}

In [ ]:
value_list = df['SubjectID'].value_counts().to_dict()

In [ ]:
value_list

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.hist(value_list.values())

In [ ]:
longer= []

In [ ]:
for i,j in value_list.items():
    if(j>12):
        longer.append(i)

In [ ]:
for i,j in test_value_list.items():
    if(j>8):
        test_longer.append(i)

In [ ]:
longer

In [ ]:
df['classification'] = False

In [ ]:
df['classification'].value_counts()

In [ ]:
df.loc[df["SubjectID"].isin(longer), 'classification'] = True

In [ ]:
df['classification'].value_counts()

In [ ]:
longer_students = df.loc[df['classification']==True]

In [ ]:
normal_students= df.loc[df['classification']==False]

In [ ]:
longer_students.columns

In [ ]:
ls_gpa = []
ns_gpa = []

In [ ]:
len(longer_students)

In [ ]:
len(graduated['SubjectID'].unique())

In [ ]:
len(non_graduate['SubjectID'].unique())

In [ ]:
for i in range(0,len(longer_students['SubjectID'])-1):
    if (longer_students['SubjectID'].iloc[i]!=longer_students['SubjectID'].iloc[i+1]):
        ls_gpa.append(longer_students['Cumul GPA'].iloc[i])

In [ ]:
for i in range(0,len(normal_students['SubjectID'])-1):
    if (normal_students['SubjectID'].iloc[i]!=normal_students['SubjectID'].iloc[i+1]):
        ns_gpa.append(normal_students['Cumul GPA'].iloc[i])

In [ ]:
np.mean(ls_gpa)

In [ ]:
np.mean(ns_gpa)

In [ ]:
np.median(ns_gpa)

In [ ]:
np.median(ls_gpa)

In [ ]:
classification

In [ ]:
import numpy as np

In [ ]:
halfstd =np.std(all_gpa)/2

In [ ]:
halfstd

In [ ]:
trend_changes = []

In [ ]:
all_gpa = []

In [ ]:
for i in trends: ##if more than 1/2 std drop, it's considered drop. if not, it's considered stayed the same.
    temp = []
    for j in range(0, len(i)-1):
        if(i[j]-i[j+1]<halfstd):
            temp.append('drop')
        if(i[j]-i[j+1]>halfstd):
            temp.append('rise')
        else:
            temp.append('stayed')
    trend_changes.append(temp)

In [ ]:
for i in trend_changes:
    if()

In [ ]:
trends = []
for i in dataframe['SubjectID'].unique():
    trend = []
    x = dataframe.loc[dataframe['SubjectID']==i]
    for j in range(0, len(x['Term GPA'])-1):
        if (x['Year Term ID_x'].iloc[j]!=x['Year Term ID_x'].iloc[j+1]):
            trend.append(x['Term GPA'].iloc[j])
    trends.append(trend)

In [ ]:
classified_dataframe = dataframe.copy()

In [ ]:
classified_dataframe = classified_dataframe.drop(['First Generation Flag', 'Birthdate','Term Hrs Earned',
       'Term Hrs GPA', 'Term Points Earned','Ps1 Ofcl Stat Flag', 'Cumul Points Earned'], axis =1)

In [ ]:
classified_dataframe['Classification']= ' '

In [ ]:
graduated = classified_dataframe.loc[classified_dataframe['Degree Award Date'].isnull()==False]
non_graduate = classified_dataframe.loc[classified_dataframe['Degree Award Date'].isnull()==True]

In [ ]:
notgrad = non_graduate['SubjectID'].unique()

In [ ]:
df_drop_summer = df_drop_summer.groupby('SubjectID')

In [ ]:
df_drop_summer.head()

In [ ]:
normal_dropped = []
nine_plus_dropped= []
tw_plus_dropped = []
count = 0
for i in df_drop_summer['SubjectID'].unique():
    count= count+1
    if(count/len(df_drop_summer['SubjectID'].unique())>.1):
        print('10%')
        count=0
    x= df_drop_summer.loc[df_drop_summer['SubjectID']==i]
    if(len(x['Year Term ID_x'].unique())<=8):
        normal_dropped.append(i)
    elif(len(x['Year Term ID_x'].unique())>=9 and len(x['Year Term ID_x'].unique())<13):
        nine_plus_dropped.append(i)
    elif(len(x['Year Term ID_x'].unique())>=13):
        tw_plus_dropped.append(i)

In [ ]:
df_drop_summer.loc[df_drop_summer["SubjectID"].isin(normal_dropped), 'Classification'] = 4
df_drop_summer.loc[df_drop_summer["SubjectID"].isin(nine_plus_dropped), 'Classification'] = 3
df_drop_summer.loc[df_drop_summer["SubjectID"].isin(tw_plus_dropped), 'Classification'] = 2
df_drop_summer.loc[df_drop_summer["SubjectID"].isin(notgrad), 'Classification'] = 1

In [ ]:
len(df_drop_summer["SubjectID"].unique())

In [ ]:
print(len(normal_dropped))
print(len(nine_plus_dropped))
print(len(tw_plus_dropped))
print(len(notgrad))

In [ ]:
print(len(graduated['SubjectID'].unique()))
print(len(df_drop_summer['SubjectID'].unique()))

In [ ]:
labels = 'Normal', '9-12', '13+', 'Non Graduate'
sizes = [15079, 2463, 123, 2724]
colors = ['gold', 'yellowgreen', 'lightcoral', 'lightskyblue']
explode = (0.3, 0, 0, 0)  # explode 1st slice

# Plot
plt.figure(dpi = 150)
plt.pie(sizes, explode=explode, labels=labels, colors=colors,
autopct='%1.1f%%', shadow=True, startangle=140)

plt.axis('equal')
plt.title('Students breakdown not counting summer')
plt.show()

In [ ]:
labels = 'Normal', '9-12', '13+', 'Non Graduate'
sizes = [11267, 6058, 340, 2724]
colors = ['gold', 'yellowgreen', 'lightcoral', 'lightskyblue']
explode = (0.3, 0, 0, 0)  # explode 1st slice

# Plot
plt.figure(dpi = 150)
plt.pie(sizes, explode=explode, labels=labels, colors=colors,
autopct='%1.1f%%', shadow=True, startangle=140)

plt.axis('equal')
plt.title('Students breakdown counting summer')
plt.show()

In [ ]:
year_Term = []

In [ ]:
for i in classified_dataframe['Year Term ID_x'].unique():
    year_Term.append(str(i))

In [ ]:
summer = []

In [ ]:
for i in year_Term:
    if(i[4]=='4'):
        summer.append(float(i))

In [ ]:
df_drop_summer = classified_dataframe.loc[~classified_dataframe['Year Term ID_x'].isin(summer)]

In [ ]:
df_drop_summer.groupby(['Classification']).median()

In [ ]:
classified_dataframe.loc[classified_dataframe["SubjectID"].isin(normal), 'Classification'] = 4
classified_dataframe.loc[classified_dataframe["SubjectID"].isin(nine_twelve), 'Classification'] = 3
classified_dataframe.loc[classified_dataframe["SubjectID"].isin(twelve_plus), 'Classification'] = 2
classified_dataframe.loc[classified_dataframe["SubjectID"].isin(notgrad), 'Classification'] = 1

In [ ]:
classified_dataframe['Classification'].value_counts()

In [ ]:
classified_dataframe.to_csv('classified_dataframe')

In [ ]:
Normal = classified_dataframe.loc[classified_dataframe['Classification']=='N']
NineTwelve = classified_dataframe.loc[classified_dataframe['Classification']=='NT']
TwelvePlus = classified_dataframe.loc[classified_dataframe['Classification']=='TP']
NonGrad = classified_dataframe.loc[classified_dataframe['Classification']=='NG']

In [ ]:
classified_dataframe = classified_dataframe.drop(['classification'], axis = 1)

In [ ]:
Normal_lowfresh = Normal.loc[Normal['SubjectID'].isin(low_freshmen)]

In [ ]:
NineTwelve_lowfresh = NineTwelve.loc[NineTwelve['SubjectID'].isin(low_freshmen)]
TwelvePlus_lowfresh = TwelvePlus.loc[TwelvePlus['SubjectID'].isin(low_freshmen)]
NonGrad_lowfresh = NonGrad.loc[NonGrad['SubjectID'].isin(low_freshmen)]

In [ ]:
Normal_Onefresh = Normal.loc[Normal['SubjectID'].isin(One_freshmen)]
NineTwelve_Onefresh = NineTwelve.loc[NineTwelve['SubjectID'].isin(One_freshmen)]
TwelvePlus_Onefresh = TwelvePlus.loc[TwelvePlus['SubjectID'].isin(One_freshmen)]
NonGrad_Onefresh = NonGrad.loc[NonGrad['SubjectID'].isin(One_freshmen)]

In [ ]:
len(Normal_lowfresh['SubjectID'].unique())

In [ ]:
print(len(NineTwelve_lowfresh['SubjectID'].unique()))
print(len(TwelvePlus_lowfresh['SubjectID'].unique()))
print(len(NonGrad_lowfresh['SubjectID'].unique()))

In [ ]:
labels = 'Normal', '9-12', '13+', 'Non Graduate'
sizes = [7, 5, 5, 276]
colors = ['gold', 'yellowgreen', 'lightcoral', 'lightskyblue']
explode = (0, 0, 0, 0.1)  # explode 1st slice

# Plot
plt.figure(dpi = 150)
plt.pie(sizes, explode=explode, labels=labels, colors=colors,
autopct='%1.1f%%', shadow=True, startangle=140)

plt.axis('equal')
plt.title('Students with less than 1.0 gpa first semester break down')
plt.show()

In [ ]:
print(len(Normal_Onefresh['SubjectID'].unique()))
print(len(NineTwelve_Onefresh['SubjectID'].unique()))
print(len(TwelvePlus_Onefresh['SubjectID'].unique()))
print(len(NonGrad_Onefresh['SubjectID'].unique()))

In [ ]:
print(len(Normal_lowfresh['SubjectID'].unique())/len(Normal['SubjectID'].unique()))
print(len(NineTwelve_lowfresh['SubjectID'].unique())/len(NineTwelve['SubjectID'].unique()))
print(len(TwelvePlus_lowfresh['SubjectID'].unique())/len(TwelvePlus['SubjectID'].unique()))
print(len(NonGrad_lowfresh['SubjectID'].unique())/len(NonGrad['SubjectID'].unique()))

In [ ]:
122+138+32+556

In [ ]:
labels = 'Normal', '9-12', '13+', 'Non Graduate'
sizes = [122, 138, 32, 556]
colors = ['gold', 'yellowgreen', 'lightcoral', 'lightskyblue']
explode = (0, 0, 0, 0.1)  # explode 1st slice

# Plot
plt.figure(dpi = 150)
plt.pie(sizes, explode=explode, labels=labels, colors=colors,
autopct='%1.1f%%', shadow=True, startangle=140)

plt.axis('equal')
plt.title('Students with less than 2.0 gpa first semester break down')
plt.show() #summer into consideration

In [ ]:
print(122/848) #normal
print(138/848) #nineTwelve
print(32/848) #TwelvePlus
print(556/848) #nongrad. It can be guessed that if the person with low freshmen grade does not graduate
#within 6 years, the person is going to not graduate at all.

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [ ]:
for i in classified_dataframe.select_dtypes(object):
    print(i)
    classified_dataframe= classified_dataframe.fillna('NaN')
    classified_dataframe[i] = le.fit_transform(classified_dataframe[i])

In [ ]:
classified_dataframe.loc[classified_dataframe['Degree A ward Date'].isnull(), 'Degree Award Date']=0
classified_dataframe.loc[classified_dataframe['Degree Award Date'].isnull()==False, 'Degree Award Date']=1

In [ ]:
classified_dataframe.loc[classified_dataframe['Degree Confer Date'].isnull(), 'Degree Confer Date']=0
classified_dataframe.loc[classified_dataframe['Degree Confer Date'].isnull()==False, 'Degree Confer Date']=1

In [ ]:
classified_dataframe['Degree Award Date']=dataframe['Degree Award Date']
classified_dataframe['Degree Confer Date']=dataframe['Degree Confer Date']

In [ ]:
classified_dataframe['Degree Award Date'].isnull().sum()

In [ ]:
classified_dataframe.corr()

In [ ]:
le.inverse_transform(classified_dataframe['Classification'])

In [ ]:
critical_semester = classified_dataframe.loc[classified_dataframe['Term GPA']<1]

In [ ]:
crit = critical_semester['SubjectID'].unique()

In [ ]:
count = 0
for i in crit:
    if(i in graduated['SubjectID'].unique()):
        count = count+1
print(count)

In [ ]:
count = 0
for i in crit:
    if(i in non_graduate['SubjectID'].unique()):
        count = count+1
print(count)

In [ ]:
len(crit)

In [ ]:
5642/7763

In [ ]:
df_drop_summer = pd.read_csv("df_drop_summer.csv")

In [ ]:
df_drop_summer.groupby(['Classification']).median()

In [ ]:
df_drop_summer.groupby('SubjectID')

In [ ]:
major_dics = df_drop_summer['Ps1 Major1 Code'].value_counts().to_dict()
example = pd.DataFrame(data=major_dics, index=[0])
example.to_excel('majors.xlsx')

In [ ]:
normal_df= df_drop_summer.loc[df_drop_summer['Classification']==4]
major_dics_normal = normal_df['Ps1 Major1 Code'].value_counts().to_dict()
normal_major = pd.DataFrame(data = major_dics_normal, index = [0])
normal_major.to_excel('normal_majors.xlsx')

In [ ]:
ntw_df= df_drop_summer.loc[df_drop_summer['Classification']==3]
major_dics_ntw = ntw_df['Ps1 Major1 Code'].value_counts().to_dict()
ntw_major = pd.DataFrame(data = major_dics_ntw, index = [0])
ntw_major.to_excel('ntw_majors.xlsx')

In [ ]:
ttp_df= df_drop_summer.loc[df_drop_summer['Classification']==2]
major_dics_ttp = ttp_df['Ps1 Major1 Code'].value_counts().to_dict()
ttp_major = pd.DataFrame(data = major_dics_ttp, index = [0])
ttp_major.to_excel('ttp_majors.xlsx')

In [ ]:
ng_df= df_drop_summer.loc[df_drop_summer['Classification']==1]
major_dics_ng = ng_df['Ps1 Major1 Code'].value_counts().to_dict()
ng_major = pd.DataFrame(data = major_dics_ng, index = [0])
ng_major.to_excel('ng_majors.xlsx')

In [ ]:
df_drop_summer['Classification'].value_counts()

In [ ]:
df_drop_summer.corr()

In [ ]:
import pandas as pd
df_drop_summer = pd.read_csv('df_drop_summer.csv')

In [ ]:
len(df['SubjectID'].unique())

In [ ]:
consequtive = []
for i in df['SubjectID'].unique():
    x = df.loc[df['SubjectID']==i]
    for j in range(0, len(x['Term GPA'])-1):
        a = x['Term GPA'].iloc[j]
        b = x['Term GPA'].iloc[j+1]
        c = x['Term Hrs Earned'].iloc[j]
        d = x['Term Hrs Earned'].iloc[j+1]
        if(a<1 and b<1):
            consequtive.append(i)

In [ ]:
for i in consequtive:
    x = df.loc[df['SubjectID']==i]
    if(len(x)>16):
        consequtive.remove(i)

In [ ]:
for i in consequtive:
    if(i in normal):
        consequtive.remove(i)

In [ ]:
consequtive= set(consequtive)

In [ ]:
len(consequtive)

In [ ]:
df_drop_summer.loc[df_drop_summer['Degree Confer Date'].isnull(), 'Degree Confer Date']=0
df_drop_summer.loc[df_drop_summer['Degree Confer Date'].isnull()==False, 'Degree Confer Date']=1
df_drop_summer.loc[df_drop_summer['Degree Award Date'].isnull(), 'Degree Award Date']=0
df_drop_summer.loc[df_drop_summer['Degree Award Date'].isnull()==False, 'Degree Award Date']=1

In [ ]:
df_drop_summer.loc[df_drop_summer['Ps1 Major2 Code']=='.', 'Ps1 Major2 Code']=0
df_drop_summer.loc[df_drop_summer['Ps1 Major2 Code']!='.', 'Ps1 Major2 Code']=1

In [ ]:
df_drop_summer.loc[df_drop_summer['Ps2 Major2 Code']=='.', 'Ps2 Major2 Code']=0
df_drop_summer.loc[df_drop_summer['Ps2 Major2 Code']!='.', 'Ps2 Major2 Code']=1

In [ ]:
df_drop_summer.loc[df_drop_summer['Ps2 Major1 Code']=='.', 'Ps2 Major1 Code']=0
df_drop_summer.loc[df_drop_summer['Ps2 Major1 Code']!='.', 'Ps2 Major1 Code']=1

In [ ]:
df_drop_summer.loc[df_drop_summer['Dorm Area']=='.', 'Dorm Area']=0
df_drop_summer.loc[df_drop_summer['Dorm Area']!='.', 'Dorm Area']=1

In [ ]:
df_drop_summer.loc[df_drop_summer['Citizen Country Name']=='USA', 'Citizen Country Name']=0
df_drop_summer.loc[df_drop_summer['Citizen Country Name']!='USA', 'Citizen Country Name']=1

In [ ]:
df_drop_summer.loc[df_drop_summer['Ps1 Acad Standing Desc']=='ACTIVE', 'Ps1 Acad Standing Desc']=1
df_drop_summer.loc[df_drop_summer['Ps1 Acad Standing Desc']!='ACTIVE', 'Ps1 Acad Standing Desc']=0

In [ ]:
df_drop_summer.loc[df_drop_summer['Ps2 Ofcl Stat Flag']=='Y', 'Ps2 Ofcl Stat Flag']=1
df_drop_summer.loc[df_drop_summer['Ps2 Ofcl Stat Flag']!='N', 'Ps2 Ofcl Stat Flag']=0

In [ ]:
df_drop_summer= df_drop_summer.drop(['Grade'], axis =1)

In [ ]:
df_drop_summer = df_drop_summer.drop(['Unnamed: 0'], axis =1)

In [ ]:
classified_students_4 = df_drop_summer.loc[df_drop_summer['Classification']==4]
classified_students_3 = df_drop_summer.loc[df_drop_summer['Classification']==3]
classified_students_2 = df_drop_summer.loc[df_drop_summer['Classification']==2]
classified_students_1 = df_drop_summer.loc[df_drop_summer['Classification']==1]

In [ ]:
df_drop_summer['Classification'].value_counts()

In [ ]:
print(len(classified_students_4['SubjectID'].unique()))
print(len(classified_students_3['SubjectID'].unique()))
print(len(classified_students_2['SubjectID'].unique()))
print(len(classified_students_1['SubjectID'].unique()))

print(len(classified_students_4['SubjectID']))
print(len(classified_students_3['SubjectID']))
print(len(classified_students_2['SubjectID']))
print(len(classified_students_1['SubjectID']))

In [ ]:
df_labeled.head()

In [ ]:
df_labeled= df_drop_summer.fillna('NaN')
df_labeled['Gender'] = le.fit_transform(df_drop_summer['Gender'])

In [ ]:
df_labeled['Ps1 Timestat Code'] = df_drop_summer['Ps1 Timestat Code']
df_labeled['Ps1 Major1 Code'] = df_drop_summer['Ps1 Major1 Code']
df_labeled['Repeated Flag'] = df_drop_summer['Repeated Flag']

In [ ]:
df_labeled= df_labeled.drop(['Reported Grade', 'HS City'], axis = 1)

In [ ]:
df_labeled = df_labeled.drop(['SAT Total', 'ACT Composite'], axis =1)

In [ ]:
df_labeled['Classification'] = df_drop_summer['Classification'].copy()

In [ ]:
df_labeled.loc[df_labeled['Classification']==2, 'Classification']=0
df_labeled.loc[df_labeled['Classification']==1, 'Classification']=0

In [ ]:
df_labeled.loc[df_labeled['Classification']==4, 'Classification']=1
df_labeled.loc[df_labeled['Classification']==3, 'Classification']=1

In [ ]:
df_labeled.columns

In [ ]:
categoricals = df_labeled[['Ps1 Timestat Code', 'Ps1 Major1 Code','Repeated Flag']]

In [ ]:
df_labeled = df_labeled.drop(['Year Term ID_y', 'Ps1 Acad Standing Desc'], axis = 1)

In [ ]:
object_columns = df_labeled.iloc[:, 7:22]

In [ ]:
object_columns['Repeated Flag'].value_counts()

In [ ]:
df_labeled= df_labeled.drop(['Ps1 Timestat Code', 'Ps1 Major1 Code','Repeated Flag'], axis =1)

In [ ]:
X = df_labeled.iloc[:, 0:17]
y = df_labeled.iloc[:, 17]

In [ ]:
X['Ps2 Ofcl Stat Flag'].value_counts()

In [ ]:
X.loc[X['Ps2 Ofcl Stat Flag']=='N', 'Ps2 Ofcl Stat Flag']=1

In [ ]:
y.value_counts()

In [ ]:
from sklearn import preprocessing
X = X.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
X_scaled = min_max_scaler.fit_transform(X)
X = pd.DataFrame(X_scaled)

In [ ]:
X = pd.concat([X,onehot_encoded], axis =1)

In [ ]:
y.value_counts()

In [ ]:
df_labeled_oh['Classification']= ''

In [ ]:
df_labeled_oh['Classification'] = y

In [ ]:
onehot_encoded.head()

In [ ]:
y_labeled = le.fit_transform(y)

In [ ]:
y_labeled

In [ ]:
from sklearn.preprocessing import OneHotEncoder
onehot_encoder = OneHotEncoder(sparse=False)
onehot_encoded = onehot_encoder.fit_transform(categoricals)
onehot_encoded = pd.DataFrame(onehot_encoded)

In [ ]:
from sklearn.model_selection import train_test_split #train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense
import tensorflow as tf #importing libraries

In [20]:
import numpy as np

In [7]:
df.head()

,SubjectID,Year Term ID,Term GPA,Term Hrs Earned,Term Hrs GPA,Term Points Earned,Cumul GPA,Cumul Hrs Earned,Cumul Hrs GPA,Cumul Points Earned,Term Transfer Hrs
0,172789163,20062.0,0.00,0.0,0.0,0.0,3.07,128.0,128.0,393.2,0.0
1,172846340,20102.0,3.30,8.0,8.0,26.4,2.70,128.0,77.0,207.8,26.0
2,172857770,20162.0,0.00,0.0,0.0,0.0,2.20,128.0,124.0,273.2,0.0
3,172857770,20171.0,0.00,0.0,0.0,0.0,2.20,132.0,124.0,273.2,4.0
4,172877093,19871.0,1.33,12.0,12.0,16.0,1.77,85.0,97.0,171.8,0.0

In [125]:
Term_gpa= []

In [126]:
for i in df['SubjectID'].unique():
    temp = {}
    x= df.loc[df['SubjectID']==i]
    temp.update({i:x['Term GPA'].values})
    Term_gpa.append(temp)

In [127]:
Term_gpa[3] #minimum location, maximum location

{172877093: array([1.33, 0.  , 3.  , 4.  ])}

In [142]:
trends= []
for i in Term_gpa:
    for ID, history in i.items():
        temp = []
        Max= np.argmax(history)
        Min= np.argmin(history)
        temp.append(Max)
        temp.append(Min)
        temp.append(len(history))
    trends.append(temp)

In [143]:
normalize=

[[0, 0, 1],
 [0, 0, 1],
 [0, 0, 2],
 [3, 1, 4],
 [9, 0, 12],
 [11, 3, 15],
 [3, 4, 11],
 [5, 3, 6],
 [0, 6, 8],
 [0, 2, 15],
 [1, 7, 9],
 [0, 3, 4],
 [0, 2, 8],
 [2, 4, 6],
 [0, 0, 3],
 [9, 6, 11],
 [3, 1, 13],
 [4, 2, 7],
 [11, 12, 14],
 [8, 6, 15],
 [10, 8, 12],
 [0, 6, 11],
 [2, 5, 6],
 [10, 9, 11],
 [8, 11, 12],
 [8, 10, 13],
 [9, 6, 11],
 [11, 6, 30],
 [10, 9, 12],
 [11, 2, 12],
 [0, 1, 2],
 [15, 6, 20],
 [1, 2, 6],
 [2, 4, 6],
 [1, 2, 14],
 [4, 7, 13],
 [10, 7, 19],
 [0, 2, 4],
 [9, 7, 13],
 [1, 3, 10],
 [8, 4, 12],
 [9, 2, 11],
 [0, 2, 4],
 [0, 0, 1],
 [7, 5, 8],
 [0, 2, 6],
 [1, 3, 4],
 [3, 1, 9],
 [2, 10, 12],
 [3, 7, 15],
 [3, 7, 11],
 [8, 6, 12],
 [14, 3, 24],
 [0, 3, 4],
 [9, 4, 10],
 [2, 4, 6],
 [2, 12, 15],
 [7, 4, 9],
 [1, 0, 4],
 [6, 4, 9],
 [0, 1, 4],
 [7, 4, 9],
 [7, 3, 9],
 [9, 2, 14],
 [0, 7, 8],
 [0, 3, 10],
 [10, 0, 11],
 [8, 2, 11],
 [1, 4, 13],
 [6, 4, 11],
 [7, 0, 8],
 [1, 0, 2],
 [0, 6, 12],
 [6, 0, 15],
 [10, 11, 13],
 [12, 11, 14],
 [9, 5, 10],
 [9, 0, 10],
 [9, 3, 10],
 [7, 4, 9],
 [1, 0, 2],
 [0, 0, 12],
 [10, 3, 13],
 [12, 0, 13],
 [6, 8, 9],
 [0, 8, 10],
 [0, 3, 4],
 [8, 11, 12],
 [1, 2, 4],
 [8, 4, 9],
 [2, 1, 8],
 [9, 4, 11],
 [5, 0, 7],
 [1, 8, 12],
 [4, 0, 5],
 [4, 0, 11],
 [6, 5, 8],
 [1, 2, 8],
 [7, 3, 8],
 [2, 0, 5],
 [0, 2, 5],
 [7, 0, 9],
 [5, 0, 7],
 [4, 0, 8],
 [5, 3, 8],
 [11, 2, 22],
 [0, 6, 8],
 [0, 5, 6],
 [4, 0, 7],
 [5, 0, 7],
 [1, 7, 8],
 [9, 0, 17],
 [4, 10, 12],
 [12, 0, 14],
 [0, 0, 4],
 [7, 0, 11],
 [3, 0, 5],
 [1, 0, 8],
 [0, 5, 9],
 [2, 6, 7],
 [6, 2, 8],
 [2, 0, 8],
 [9, 1, 11],
 [2, 4, 5],
 [7, 2, 8],
 [2, 0, 4],
 [12, 0, 14],
 [1, 7, 8],
 [11, 3, 12],
 [4, 0, 11],
 [3, 6, 12],
 [5, 6, 7],
 [2, 0, 4],
 [5, 2, 6],
 [3, 9, 11],
 [7, 2, 12],
 [4, 5, 6],
 [10, 9, 11],
 [6, 0, 9],
 [3, 2, 4],
 [4, 0, 10],
 [4, 6, 9],
 [6, 4, 9],
 [6, 4, 8],
 [1, 6, 8],
 [0, 0, 2],
 [0, 2, 5],
 [1, 8, 9],
 [1, 4, 6],
 [0, 0, 1],
 [1, 0, 10],
 [4, 5, 9],
 [1, 2, 4],
 [0, 2, 4],
 [6, 7, 9],
 [2, 4, 10],
 [0, 2, 4],
 [0, 4, 7],
 [7, 2, 9],
 [4, 2, 5],
 [0, 4, 5],
 [8, 2, 9],
 [0, 1, 2],
 [4, 2, 6],
 [5, 4, 9],
 [12, 6, 14],
 [2, 0, 3],
 [1, 4, 8],
 [0, 4, 6],
 [1, 3, 4],
 [9, 0, 10],
 [3, 4, 7],
 [0, 6, 8],
 [7, 0, 10],
 [4, 0, 12],
 [1, 0, 2],
 [0, 0, 8],
 [10, 11, 12],
 [0, 1, 2],
 [7, 0, 11],
 [1, 0, 3],
 [8, 0, 9],
 [1, 0, 3],
 [2, 0, 12],
 [5, 7, 8],
 [12, 0, 13],
 [7, 0, 8],
 [0, 1, 2],
 [6, 0, 9],
 [8, 0, 9],
 [0, 1, 2],
 [1, 2, 4],
 [6, 4, 10],
 [0, 0, 11],
 [5, 0, 11],
 [1, 2, 4],
 [0, 2, 3],
 [13, 2, 14],
 [5, 3, 7],
 [0, 2, 8],
 [9, 3, 11],
 [0, 4, 6],
 [0, 1, 2],
 [0, 0, 2],
 [1, 0, 2],
 [8, 6, 10],
 [0, 10, 13],
 [0, 2, 3],
 [8, 0, 9],
 [1, 3, 9],
 [6, 0, 10],
 [9, 4, 10],
 [7, 4, 10],
 [12, 4, 13],
 [3, 4, 8],
 [4, 0, 5],
 [0, 3, 4],
 [9, 0, 10],
 [2, 5, 7],
 [0, 1, 6],
 [4, 5, 6],
 [0, 0, 4],
 [0, 0, 2],
 [12, 0, 13],
 [3, 2, 5],
 [5, 6, 7],
 [0, 2, 4],
 [0, 4, 6],
 [0, 6, 9],
 [0, 1, 3],
 [0, 3, 4],
 [0, 1, 4],
 [2, 0, 4],
 [2, 12, 13],
 [8, 0, 11],
 [0, 0, 1],
 [0, 1, 4],
 [1, 2, 3],
 [4, 1, 6],
 [0, 1, 2],
 [2, 3, 4],
 [1, 2, 10],
 [7, 4, 10],
 [5, 4, 8],
 [5, 0, 8],
 [1, 10, 14],
 [1, 6, 7],
 [4, 3, 8],
 [1, 2, 4],
 [8, 5, 9],
 [4, 8, 9],
 [4, 5, 9],
 [4, 0, 8],
 [14, 11, 17],
 [7, 2, 8],
 [8, 5, 9],
 [6, 5, 8],
 [4, 0, 9],
 [9, 2, 10],
 [7, 5, 8],
 [7, 2, 8],
 [0, 3, 4],
 [1, 4, 10],
 [0, 0, 1],
 [1, 2, 3],
 [0, 5, 8],
 [6, 0, 8],
 [6, 1, 8],
 [5, 0, 9],
 [2, 10, 12],
 [7, 5, 8],
 [5, 2, 8],
 [7, 5, 8],
 [5, 0, 11],
 [3, 2, 8],
 [7, 4, 10],
 [7, 9, 10],
 [7, 2, 10],
 [0, 5, 8],
 [5, 1, 8],
 [0, 7, 8],
 [6, 1, 8],
 [8, 0, 11],
 [4, 7, 9],
 [7, 4, 8],
 [0, 1, 4],
 [6, 5, 9],
 [0, 4, 5],
 [1, 3, 5],
 [7, 5, 8],
 [2, 6, 9],
 [7, 0, 8],
 [6, 3, 7],
 [8, 1, 9],
 [2, 5, 8],
 [4, 5, 9],
 [6, 1, 8],
 [5, 3, 8],
 [0, 7, 8],
 [1, 0, 4],
 [0, 0, 2],
 [8, 5, 9],
 [1, 6, 8],
 [0, 6, 8],
 [12, 5, 14],
 [2, 5, 6],
 [6, 7, 8],
 [7, 4, 8],
 [5, 0, 8],
 [0, 1, 4],
 [6, 9, 16],
 [3, 7, 9],
 [6, 7, 11],
 [8, 4, 10],
 [0, 7, 8],
 [11, 0, 12],
 [4, 6, 9],
 [4, 2, 9],
 [5, 4, 9],
 [7, 4, 8],
 [7, 0, 8],
 [5, 2, 8],
 [0, 2, 8],
 [2, 0, 8],
 [0, 5, 8],
 [0, 6, 8],
 [6, 2, 10],
 [0, 2, 10],
 [1, 2, 9],
 [7, 2, 8],
 [7, 4, 8],
 [5, 0, 8],
 [7, 0, 10],
 [7, 5, 8],
 [3, 2, 8],
 [0, 4, 8],
 [5, 1, 8],
 [3, 1, 8],
 [6, 3, 9],
 [0, 7, 8],
 [0, 5, 6],
 [1, 2, 3],
 [4, 6, 10],
 [3, 5, 8],
 [4, 6, 9],
 [6, 1, 8],
 [2, 4, 8],
 [4, 6, 10],
 [1, 0, 8],
 [6, 2, 9],
 [3, 0, 8],
 [7, 0, 8],
 [6, 0, 8],
 [8, 9, 10],
 [3, 4, 8],
 [2, 0, 8],
 [3, 2, 8],
 [4, 0, 8],
 [1, 2, 3],
 [0, 5, 10],
 [1, 4, 10],
 [7, 6, 9],
 [7, 0, 8],
 [7, 4, 8],
 [6, 0, 10],
 [2, 6, 8],
 [2, 0, 9],
 [0, 4, 5],
 [7, 6, 8],
 [6, 1, 8],
 [0, 4, 5],
 [6, 5, 8],
 [3, 1, 4],
 [4, 5, 8],
 [4, 2, 8],
 [2, 7, 12],
 [5, 0, 8],
 [4, 5, 8],
 [6, 8, 9],
 [7, 3, 8],
 [3, 0, 8],
 [6, 2, 8],
 [6, 5, 8],
 [7, 3, 8],
 [6, 0, 8],
 [7, 5, 8],
 [5, 1, 8],
 [5, 7, 10],
 [6, 4, 11],
 [0, 7, 9],
 [5, 7, 8],
 [0, 1, 8],
 [3, 4, 7],
 [4, 0, 8],
 [7, 5, 8],
 [7, 2, 9],
 [1, 7, 10],
 [4, 3, 9],
 [2, 0, 9],
 [4, 6, 13],
 [0, 2, 5],
 [4, 8, 11],
 [1, 4, 5],
 [5, 0, 8],
 [8, 0, 10],
 [2, 3, 8],
 [1, 3, 4],
 [7, 5, 8],
 [1, 6, 8],
 [0, 1, 8],
 [0, 2, 8],
 [8, 0, 12],
 [0, 1, 3],
 [3, 2, 8],
 [1, 0, 4],
 [0, 1, 2],
 [4, 1, 8],
 [0, 2, 10],
 [2, 0, 8],
 [1, 7, 9],
 [0, 0, 1],
 [5, 4, 8],
 [7, 4, 8],
 [6, 7, 8],
 [7, 5, 8],
 [7, 2, 10],
 [5, 0, 8],
 [3, 0, 8],
 [0, 1, 9],
 [3, 5, 8],
 [3, 2, 15],
 [11, 0, 12],
 [5, 3, 8],
 [2, 5, 8],
 [6, 3, 8],
 [7, 3, 8],
 [2, 1, 8],
 [1, 2, 3],
 [1, 6, 8],
 [4, 2, 9],
 [6, 4, 9],
 [6, 4, 8],
 [3, 5, 8],
 [9, 6, 10],
 [1, 5, 8],
 [3, 8, 9],
 [0, 4, 8],
 [8, 4, 12],
 [6, 5, 8],
 [1, 0, 9],
 [0, 1, 10],
 [0, 2, 8],
 [7, 0, 8],
 [2, 8, 9],
 [7, 4, 8],
 [6, 3, 9],
 [6, 5, 8],
 [7, 5, 8],
 [2, 0, 9],
 [4, 2, 10],
 [1, 2, 4],
 [7, 3, 8],
 [0, 0, 1],
 [0, 1, 3],
 [7, 5, 8],
 [0, 4, 11],
 [4, 6, 8],
 [4, 7, 8],
 [7, 0, 8],
 [1, 2, 3],
 [8, 0, 12],
 [2, 0, 9],
 [0, 2, 8],
 [7, 1, 8],
 [4, 7, 10],
 [0, 3, 9],
 [2, 3, 5],
 [5, 0, 8],
 [2, 8, 9],
 [1, 2, 5],
 [1, 0, 10],
 [1, 3, 10],
 [9, 0, 10],
 [5, 1, 8],
 [7, 0, 8],
 [3, 7, 8],
 [0, 6, 8],
 [0, 2, 8],
 [0, 6, 9],
 [6, 0, 8],
 [8, 0, 10],
 [6, 4, 8],
 [6, 1, 8],
 [8, 7, 9],
 [0, 7, 9],
 [7, 0, 8],
 [9, 0, 10],
 [4, 5, 9],
 [7, 4, 8],
 [5, 0, 6],
 [6, 5, 11],
 [0, 4, 8],
 [5, 0, 8],
 [6, 5, 8],
 [6, 3, 7],
 [7, 5, 8],
 [7, 1, 8],
 [0, 2, 4],
 [7, 4, 8],
 [7, 6, 10],
 [4, 2, 8],
 [2, 4, 8],
 [1, 2, 3],
 [8, 7, 9],
 [3, 2, 8],
 [6, 0, 9],
 [7, 0, 8],
 [3, 4, 8],
 [8, 9, 10],
 [9, 4, 10],
 [1, 2, 3],
 [9, 8, 11],
 [8, 2, 12],
 [0, 3, 5],
 [6, 3, 8],
 [0, 2, 3],
 [0, 4, 5],
 [1, 2, 3],
 [9, 8, 10],
 [5, 2, 6],
 [4, 5, 8],
 [0, 4, 9],
 [2, 0, 8],
 [0, 6, 8],
 [5, 6, 8],
 [3, 2, 4],
 [0, 3, 9],
 [7, 1, 8],
 [0, 5, 8],
 [1, 3, 8],
 [4, 2, 8],
 [1, 5, 8],
 [8, 7, 10],
 [1, 4, 8],
 [1, 0, 9],
 [4, 9, 10],
 [2, 5, 9],
 [2, 6, 8],
 [2, 5, 8],
 [4, 0, 7],
 [6, 3, 12],
 [3, 5, 8],
 [4, 0, 8],
 [1, 2, 4],
 [0, 4, 8],
 [4, 2, 10],
 [7, 0, 8],
 [6, 4, 8],
 [3, 0, 8],
 [5, 1, 10],
 [0, 1, 2],
 [3, 7, 9],
 [2, 0, 8],
 [0, 6, 8],
 [5, 2, 8],
 [0, 4, 8],
 [3, 2, 4],
 [7, 4, 8],
 [5, 0, 10],
 [1, 4, 7],
 [6, 5, 8],
 [6, 7, 8],
 [0, 6, 9],
 [5, 3, 8],
 [4, 3, 9],
 [5, 0, 8],
 [0, 4, 6],
 [5, 0, 8],
 [8, 0, 11],
 [4, 2, 7],
 [7, 0, 8],
 [2, 1, 8],
 [7, 3, 8],
 [1, 2, 8],
 [0, 0, 1],
 [1, 7, 10],
 [1, 6, 8],
 [1, 0, 2],
 [6, 3, 8],
 [6, 1, 9],
 [3, 2, 9],
 [2, 4, 8],
 [6, 5, 8],
 [10, 3, 11],
 [3, 4, 5],
 [6, 0, 8],
 [0, 0, 1],
 [10, 0, 11],
 [7, 0, 8],
 [6, 4, 9],
 [3, 5, 7],
 [0, 8, 9],
 [3, 0, 9],
 [6, 1, 8],
 [3, 0, 4],
 [5, 3, 8],
 [6, 0, 9],
 [3, 4, 6],
 [6, 0, 9],
 [6, 5, 8],
 [1, 2, 8],
 [3, 0, 8],
 [1, 4, 8],
 [4, 3, 8],
 [7, 5, 8],
 [7, 3, 8],
 [5, 0, 8],
 [3, 5, 8],
 [4, 6, 9],
 [1, 3, 7],
 [1, 7, 8],
 [7, 2, 10],
 [7, 4, 8],
 [5, 2, 9],
 [4, 0, 8],
 [6, 5, 8],
 [7, 0, 8],
 [0, 1, 2],
 [2, 0, 4],
 [0, 3, 4],
 [8, 0, 10],
 [5, 0, 8],
 [3, 5, 8],
 [1, 2, 3],
 [1, 2, 3],
 [1, 0, 2],
 [3, 0, 8],
 [1, 2, 4],
 [4, 2, 8],
 [2, 5, 8],
 [4, 3, 9],
 [6, 1, 8],
 [7, 0, 10],
 [1, 2, 4],
 [0, 1, 2],
 [5, 4, 8],
 [9, 0, 10],
 [1, 4, 8],
 [1, 5, 8],
 [7, 5, 10],
 [1, 2, 3],
 [4, 0, 8],
 [0, 0, 1],
 [3, 0, 8],
 [6, 5, 8],
 [2, 4, 9],
 [6, 5, 8],
 [0, 3, 9],
 [3, 4, 8],
 [0, 8, 9],
 [1, 0, 5],
 [6, 1, 12],
 [0, 1, 4],
 [1, 0, 9],
 [7, 0, 10],
 [6, 0, 8],
 [7, 2, 9],
 [1, 4, 8],
 [0, 7, 8],
 [7, 1, 10],
 [2, 0, 10],
 [0, 7, 8],
 [7, 0, 8],
 [1, 4, 8],
 [5, 1, 8],
 [7, 5, 8],
 [4, 5, 9],
 [0, 6, 8],
 [2, 4, 8],
 [0, 0, 1],
 [7, 5, 8],
 [4, 0, 8],
 [6, 1, 8],
 [7, 6, 8],
 [0, 0, 1],
 [7, 0, 8],
 [7, 1, 8],
 [3, 6, 8],
 [8, 1, 9],
 [1, 7, 8],
 [2, 1, 10],
 [5, 0, 8],
 [7, 6, 10],
 [8, 0, 9],
 [0, 4, 10],
 [6, 0, 8],
 [4, 0, 8],
 [6, 3, 8],
 [5, 0, 8],
 [0, 1, 8],
 [3, 0, 8],
 [6, 0, 9],
 [8, 0, 9],
 [1, 7, 8],
 [2, 1, 3],
 [3, 6, 9],
 [2, 6, 11],
 [7, 4, 8],
 [2, 6, 11],
 [5, 0, 8],
 [6, 2, 8],
 [0, 3, 4],
 [1, 0, 4],
 [6, 0, 9],
 [7, 3, 8],
 [5, 6, 8],
 [6, 5, 9],
 [7, 6, 10],
 [1, 5, 8],
 [4, 7, 10],
 [5, 4, 10],
 [7, 6, 10],
 [6, 5, 8],
 [0, 0, 1],
 [1, 6, 8],
 [9, 2, 11],
 [6, 0, 9],
 [0, 2, 3],
 [1, 4, 8],
 [5, 10, 11],
 [6, 4, 9],
 [5, 2, 8],
 [2, 6, 8],
 [7, 0, 8],
 [4, 0, 6],
 [6, 0, 8],
 [5, 1, 8],
 [0, 0, 1],
 [1, 3, 4],
 [0, 5, 8],
 [3, 5, 8],
 [7, 1, 11],
 [0, 1, 4],
 [5, 0, 10],
 [2, 0, 4],
 [5, 3, 8],
 [0, 2, 4],
 [4, 3, 8],
 [2, 5, 8],
 [6, 3, 8],
 [5, 6, 8],
 [7, 0, 9],
 [7, 6, 8],
 [8, 4, 9],
 [5, 2, 8],
 [6, 2, 8],
 [0, 3, 8],
 [0, 2, 4],
 [7, 5, 8],
 [5, 0, 10],
 [6, 2, 9],
 [5, 1, 8],
 [6, 0, 9],
 [7, 4, 8],
 [5, 0, 9],
 [5, 0, 8],
 [7, 6, 8],
 [5, 3, 8],
 [4, 8, 10],
 [0, 1, 4],
 [7, 0, 8],
 [5, 3, 8],
 [8, 4, 9],
 [6, 1, 8],
 [4, 5, 9],
 [1, 2, 3],
 [1, 0, 8],
 [5, 3, 8],
 [3, 0, 4],
 [3, 5, 8],
 [2, 3, 4],
 [14, 0, 18],
 [5, 3, 8],
 [4, 7, 8],
 [2, 3, 8],
 [8, 7, 9],
 [7, 5, 8],
 [2, 0, 10],
 [5, 2, 8],
 [0, 3, 7],
 [0, 5, 8],
 [0, 2, 4],
 [4, 2, 8],
 [0, 2, 3],
 [5, 1, 9],
 [4, 2, 8],
 [0, 3, 4],
 [4, 2, 8],
 [1, 4, 5],
 [0, 4, 10],
 [7, 0, 8],
 [4, 2, 8],
 [2, 10, 11],
 [7, 3, 8],
 [6, 0, 8],
 [2, 5, 8],
 [1, 5, 9],
 [1, 4, 8],
 [0, 2, 10],
 [7, 6, 8],
 [4, 5, 8],
 [7, 6, 8],
 [0, 4, 7],
 [0, 6, 10],
 [8, 3, 9],
 [6, 2, 8],
 [7, 0, 8],
 [2, 1, 8],
 [0, 2, 3],
 [9, 4, 10],
 [0, 0, 1],
 [6, 4, 8],
 [6, 0, 8],
 [8, 4, 9],
 [0, 0, 1],
 [6, 0, 8],
 [7, 0, 9],
 [2, 5, 10],
 [3, 5, 8],
 [4, 1, 10],
 [2, 7, 8],
 [6, 0, 9],
 [4, 5, 9],
 [7, 10, 11],
 [5, 0, 11],
 [2, 1, 8],
 [7, 0, 8],
 [0, 2, 10],
 [1, 0, 8],
 [0, 0, 1],
 [5, 2, 8],
 [0, 0, 1],
 [2, 11, 19],
 [7, 0, 8],
 [2, 8, 11],
 [3, 1, 10],
 [5, 6, 8],
 [0, 4, 6],
 [6, 2, 8],
 [0, 0, 1],
 [2, 4, 8],
 [7, 0, 9],
 [4, 6, 8],
 [2, 3, 5],
 [3, 5, 8],
 [9, 0, 10],
 [0, 2, 6],
 [0, 5, 10],
 [2, 0, 4],
 [9, 0, 10],
 [7, 4, 8],
 [6, 2, 8],
 [5, 1, 8],
 [6, 0, 9],
 [6, 2, 9],
 [5, 0, 10],
 [1, 2, 8],
 [6, 0, 8],
 [2, 4, 8],
 [8, 3, 9],
 [1, 3, 5],
 [2, 9, 10],
 [0, 1, 2],
 [7, 4, 8],
 [0, 4, 8],
 [5, 2, 8],
 [5, 0, 8],
 [1, 4, 6],
 [6, 1, 7],
 [7, 9, 10],
 [7, 1, 8],
 [4, 0, 9],
 [2, 5, 10],
 [3, 5, 8],
 [0, 1, 2],
 [3, 4, 8],
 [7, 4, 8],
 [3, 4, 8],
 [6, 5, 8],
 [9, 3, 10],
 [6, 1, 8],
 [0, 2, 4],
 [3, 0, 8],
 [7, 1, 8],
 [0, 7, 8],
 [0, 5, 8],
 [5, 8, 9],
 [4, 1, 8],
 [0, 3, 8],
 [7, 2, 12],
 [2, 4, 6],
 [2, 9, 10],
 [3, 0, 5],
 [7, 0, 9],
 [8, 3, 9],
 [1, 0, 2],
 [1, 8, 9],
 [2, 5, 8],
 [7, 6, 8],
 [1, 6, 8],
 [0, 2, 3],
 [4, 7, 10],
 [3, 2, 8],
 [6, 3, 8],
 [1, 2, 4],
 [9, 4, 10],
 [1, 4, 9],
 [7, 6, 8],
 [1, 4, 5],
 [3, 4, 7],
 [3, 0, 13],
 [2, 5, 8],
 [7, 4, 9],
 [16, 4, 17],
 [6, 1, 8],
 [4, 3, 9],
 [7, 8, 9],
 [6, 2, 8],
 [1, 2, 4],
 [1, 4, 5],
 [6, 0, 8],
 [0, 0, 1],
 [7, 3, 8],
 [0, 2, 4],
 [0, 1, 2],
 [0, 2, 10],
 [0, 5, 8],
 [9, 0, 10],
 [2, 7, 9],
 [8, 0, 9],
 [7, 1, 8],
 [8, 1, 9],
 [7, 2, 8],
 [4, 7, 8],
 [6, 8, 9],
 [3, 2, 9],
 [3, 5, 8],
 [3, 6, 8],
 [0, 2, 8],
 [3, 4, 8],
 [4, 5, 8],
 [12, 5, 13],
 [4, 6, 8],
 [5, 2, 8],
 [8, 2, 9],
 [1, 4, 8],
 [7, 1, 10],
 [1, 2, 3],
 [0, 0, 1],
 [8, 6, 9],
 [1, 4, 5],
 [2, 5, 8],
 [7, 4, 8],
 [2, 6, 8],
 [2, 5, 6],
 [3, 1, 9],
 [1, 5, 8],
 [6, 8, 9],
 [0, 4, 5],
 [5, 3, 7],
 [2, 6, 7],
 [4, 0, 5],
 [2, 4, 8],
 [5, 7, 10],
 [5, 4, 8],
 [7, 0, 8],
 [2, 7, 9],
 [7, 0, 10],
 [6, 9, 10],
 [7, 0, 10],
 [0, 5, 8],
 [6, 3, 8],
 [2, 0, 8],
 [4, 2, 9],
 [2, 7, 11],
 [0, 0, 1],
 [2, 7, 8],
 [7, 1, 8],
 [4, 8, 10],
 [1, 2, 3],
 [3, 0, 8],
 [7, 0, 9],
 [0, 3, 8],
 [2, 1, 4],
 [1, 0, 2],
 [1, 0, 10],
 [5, 7, 9],
 [0, 1, 8],
 [0, 2, 5],
 [1, 6, 8],
 ...]