In [2]:
import pandas as pd

In [2]:
df = pd.read_csv("gpa_ds.csv")
courses = pd.read_csv('courses.csv')
demo = pd.read_csv('demographics.csv')

/Users/jaeheukjung/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (2,3,4,5,6,7,8,9,12,13,14,17,18,19,21,22,23,25,26,27,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/jaeheukjung/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (37,43,53) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
courses = courses.loc[courses["SubjectID"]>0]
demo = demo.loc[demo['SubjectID']>0]
df = df.loc[df['SubjectID']>0]

In [4]:
courses = courses.drop( ['Ps1 Class Code', 'CRN',
       'College Code', 'Subject Code', 'Course No', 'Course Discipline Code',
       'Parent CRN', 'Parent College Code', 'Parent Subject Code',
       'Parent Course No', 'Parent Discipline Code','Reg Status Desc', 'Grade Value','Ps1 Enroll Status Desc', 'Ps1 Withdraw Code',
       'Ps1 Withdraw Reason'], axis = 1)

In [5]:
demo = demo.drop(['Visa Code', 'Visa Desc', 'Citizen Type',
       'Citizen Country Code',
       '2010 IPEDS Ethnicity Description', '2010 Ethnicity Short Desc',
       'Veteran Status Desc', 'HS State Prov',
       'HS Postal Code', 'HS Country', 'HS Rank', 'HS Size',
       'HS Graduation Date', 'SAT Verbal', 'SAT Math', 'SAT Writing','ACT English', 'ACT Math', 'ACT Soc Science',
       'ACT Nat Science','B - Type Desc', 'B - Class Year',
       'B - Time Status Code', 'B - Degree Code', 'B - Major1 Code',
       'B - Major2 Code', 'B - Response Code', 'B - Response Desc',
       'B - Response Date', 'B - Action Code', 'B - Action Desc',
       'B - Action Date', 'B - Transfer College Code',
       'B - Transfer College Name', 'B - Transfer GPA',
       'B - Graduated College Name', 'Und Cohort First YT', # B = admissions
       'Transfer Year Term', 'Cohort Major1 Disc Code',
       'Cohort Major1 Dept Code', 'Cohort Major1 Code',
       'Cohort Major2 Disc Code', 'Cohort Major2 Dept Code', # cohort = census 
       'Cohort Major2 Code', 'Degree Code', 'Degree Class Year',
       'Degree Major1 Discipline Code', 'Degree Major1 Dept Code',
       'Degree Major1 Code', 'Degree Major2 Discipline Code',
       'Degree Major2 Dept Code', 'Degree Major2 Code', 'Degree Minor1 Code',
       'Degree Minor2 Code', 'Degree Minor3 Code', 'Clust1 Code',
       'Clust1 Dept Code', 'Clust2 Code', 'Clust2 Dept Code',
       'Degree Honors Code'] , axis = 1)

In [7]:
dataframe = pd.merge(df, courses, on='SubjectID')
dataframe = pd.merge(dataframe, demo, on='SubjectID')

In [8]:
graduated = dataframe.loc[dataframe['Degree Confer Date'].isnull()==False]
non_graduate = dataframe.loc[dataframe['Degree Confer Date'].isnull()==True]

In [9]:
print(len(graduated['SubjectID'].unique()))
print(len(non_graduate['SubjectID'].unique()))

17415
3112

In [4]:
classified_dataframe= pd.read_csv('classified_dataframe.csv')

/Users/jaeheukjung/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
classified_dataframe = classified_dataframe.fillna('NaN')

In [8]:
classified_dataframe = classified_dataframe.drop(['classification'], axis =1)

In [9]:
year_Term = []
for i in classified_dataframe['Year Term ID_x'].unique():
    year_Term.append(str(i))

In [10]:
summer = []
for i in year_Term:
    if(i[4]=='4'):
        summer.append(float(i))

In [11]:
df_drop_summer = classified_dataframe.loc[~classified_dataframe['Year Term ID_x'].isin(summer)]

In [6]:
df_drop_summer= pd.read_csv('summer.csv')

In [7]:
df_drop_summer['Ps2 Major1 Code'] = classified_dataframe['Ps2 Major1 Code']

In [21]:
df_drop_summer['Ps2 Major1 Code'].value_counts()

0    8333602
1     724492
Name: Ps2 Major1 Code, dtype: int64

In [3]:
df_drop_summer.loc[df_drop_summer['Classification']=='TP', 'Classification']=0
df_drop_summer.loc[df_drop_summer['Classification']=='NG', 'Classification']=0

In [4]:
df_drop_summer.loc[df_drop_summer['Classification']=='N', 'Classification']=1
df_drop_summer.loc[df_drop_summer['Classification']=='NT', 'Classification']=1

In [5]:
df_drop_summer.loc[df_drop_summer['Degree Confer Date'].isnull(), 'Degree Confer Date']=0
df_drop_summer.loc[df_drop_summer['Degree Confer Date']!=0, 'Degree Confer Date']=1
df_drop_summer.loc[df_drop_summer['Degree Award Date'].isnull(), 'Degree Award Date']=0
df_drop_summer.loc[df_drop_summer['Degree Award Date']!=0, 'Degree Award Date']=1

In [8]:
df_drop_summer.loc[df_drop_summer['Ps2 Major1 Code']=='NaN', 'Ps2 Major1 Code']=0
df_drop_summer.loc[df_drop_summer['Ps2 Major1 Code']!=0, 'Ps2 Major1 Code']=1

In [7]:
df_drop_summer.loc[df_drop_summer['Ps1 Major2 Code']=='.', 'Ps1 Major2 Code']=0
df_drop_summer.loc[df_drop_summer['Ps1 Major2 Code']!=0, 'Ps1 Major2 Code']=1
df_drop_summer.loc[df_drop_summer['Ps2 Major2 Code']=='.', 'Ps2 Major2 Code']=0
df_drop_summer.loc[df_drop_summer['Ps2 Major2 Code']!=0, 'Ps2 Major2 Code']=1
df_drop_summer.loc[df_drop_summer['Ps2 Major1 Code']=='.', 'Ps2 Major1 Code']=0
df_drop_summer.loc[df_drop_summer['Ps2 Major1 Code']!=0, 'Ps2 Major1 Code']=1
df_drop_summer.loc[df_drop_summer['Ps1 Acad Standing Desc']=='ACTIVE', 'Ps1 Acad Standing Desc']=1
df_drop_summer.loc[df_drop_summer['Ps1 Acad Standing Desc']!=1, 'Ps1 Acad Standing Desc']=0
df_drop_summer.loc[df_drop_summer['Ps2 Ofcl Stat Flag']=='Y', 'Ps2 Ofcl Stat Flag']=1
df_drop_summer.loc[df_drop_summer['Ps2 Ofcl Stat Flag']!=1, 'Ps2 Ofcl Stat Flag']=0

/Users/jaeheukjung/opt/anaconda3/lib/python3.7/site-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [8]:
df_drop_summer= df_drop_summer.drop(['Grade'], axis =1)
df_drop_summer = df_drop_summer.drop(['Unnamed: 0'], axis =1)

In [9]:
df_drop_summer.loc[df_drop_summer['Citizen Country Name']=='USA', 'Citizen Country Name']=0
df_drop_summer.loc[df_drop_summer['Citizen Country Name']!=0, 'Citizen Country Name']=1

In [10]:
df_drop_summer.loc[df_drop_summer['Dorm Area']=='.', 'Dorm Area']=0
df_drop_summer.loc[df_drop_summer['Dorm Area']!=0, 'Dorm Area']=1

In [11]:
df_drop_summer.corr()

,Unnamed: 0.1,SubjectID,Year Term ID_x,Term GPA,Cumul GPA,Cumul Hrs Earned,Cumul Hrs GPA,Term Transfer Hrs,Year Term ID_y,Ps1 Major2 Code,...,Ps2 Major2 Code,Credit Hrs,Dorm Area,Ps1 Acad Standing Desc,Citizen Country Name,SAT Total,ACT Composite,Degree Award Date,Degree Confer Date,Classification
Unnamed: 0.1,1.000000,0.950280,0.946400,0.065125,0.102852,0.048756,0.033670,0.022829,0.950308,-0.005789,...,-0.062643,0.023693,0.064239,0.063648,0.114894,0.106042,0.204017,0.016518,0.029512,0.085456
SubjectID,0.950280,1.000000,0.907127,0.056841,0.096385,0.050127,0.035335,0.020564,0.910393,-0.005913,...,-0.063084,0.024939,0.055168,0.057031,0.089859,0.097871,0.174413,0.023567,0.024043,0.085969
Year Term ID_x,0.946400,0.907127,1.000000,0.032918,0.091862,0.272514,0.248011,-0.008324,0.930090,-0.007890,...,-0.069301,0.016256,0.040902,0.035269,0.099747,0.116941,0.200219,0.035176,0.026171,0.042942
Term GPA,0.065125,0.056841,0.032918,1.000000,0.557446,0.118251,0.179962,-0.005584,0.046170,0.080941,...,-0.116861,-0.024647,0.115953,0.302243,-0.040763,0.142578,0.184177,0.214398,0.292829,0.380866
Cumul GPA,0.102852,0.096385,0.091862,0.557446,1.000000,0.190799,0.179885,0.038120,0.094575,0.125602,...,-0.177885,-0.058209,0.083387,0.388839,-0.013524,0.297485,0.336834,0.189674,0.267045,0.307353
Cumul Hrs Earned,0.048756,0.050127,0.272514,0.118251,0.190799,1.000000,0.925864,-0.073786,0.053995,0.032623,...,-0.128902,-0.034332,-0.006020,0.078488,-0.005666,0.084942,0.100488,0.137275,0.113968,0.099954
Cumul Hrs GPA,0.033670,0.035335,0.248011,0.179962,0.179885,0.925864,1.000000,-0.187881,0.038816,0.040661,...,-0.120271,-0.040576,0.046577,0.106806,-0.022648,0.095159,0.062931,0.129759,0.123814,0.122605
Term Transfer Hrs,0.022829,0.020564,-0.008324,-0.005584,0.038120,-0.073786,-0.187881,1.000000,0.016134,0.002399,...,-0.006593,0.012084,-0.053932,0.010617,0.009640,-0.026449,0.044166,0.007598,0.009791,0.033126
Year Term ID_y,0.950308,0.910393,0.930090,0.046170,0.094575,0.053995,0.038816,0.016134,1.000000,0.038536,...,-0.107424,0.010999,-0.044690,0.025432,0.101855,0.115145,0.205933,0.042112,0.040259,0.062040
Ps1 Major2 Code,-0.005789,-0.005913,-0.007890,0.080941,0.125602,0.032623,0.040661,0.002399,0.038536,1.000000,...,0.056351,-0.019871,-0.045005,0.063886,-0.017602,0.012172,0.005026,0.047822,0.064166,0.072477
Ps2 Ofcl Stat Flag,0.064771,0.064521,0.067912,0.109221,0.165564,0.122201,0.111939,0.009066,0.114693,-0.059660,...,-0.935171,-0.050129,-0.067790,0.064535,0.030080,0.128300,0.110648,0.034099,0.044839,0.046413
Ps2 Major1 Code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ps2 Major2 Code,-0.062643,-0.063084,-0.069301,-0.116861,-0.177885,-0.128902,-0.120271,-0.006593,-0.107424,0.056351,...,1.000000,0.069628,0.057570,-0.066668,-0.017576,-0.134992,-0.115662,-0.035686,-0.047179,-0.052079
Credit Hrs,0.023693,0.024939,0.016256,-0.024647,-0.058209,-0.034332,-0.040576,0.012084,0.010999,-0.019871,...,0.069628,1.000000,0.001410,0.001197,0.006261,-0.012803,-0.009518,0.020828,0.015377,0.021286
Dorm Area,0.064239,0.055168,0.040902,0.115953,0.083387,-0.006020,0.046577,-0.053932,-0.044690,-0.045005,...,0.057570,0.001410,1.000000,0.125787,-0.043977,0.068272,0.062963,0.031044,0.083281,0.151137
Ps1 Acad Standing Desc,0.063648,0.057031,0.035269,0.302243,0.388839,0.078488,0.106806,0.010617,0.025432,0.063886,...,-0.066668,0.001197,0.125787,1.000000,-0.030962,0.089044,0.128190,0.114808,0.216321,0.291282
Citizen Country Name,0.114894,0.089859,0.099747,-0.040763,-0.013524,-0.005666,-0.022648,0.009640,0.101855,-0.017602,...,-0.017576,0.006261,-0.043977,-0.030962,1.000000,-0.116101,-0.084140,-0.011706,0.002580,-0.083526
SAT Total,0.106042,0.097871,0.116941,0.142578,0.297485,0.084942,0.095159,-0.026449,0.115145,0.012172,...,-0.134992,-0.012803,0.068272,0.089044,-0.116101,1.000000,0.772950,0.032341,0.052545,0.049742
ACT Composite,0.204017,0.174413,0.200219,0.184177,0.336834,0.100488,0.062931,0.044166,0.205933,0.005026,...,-0.115662,-0.009518,0.062963,0.128190,-0.084140,0.772950,1.000000,0.016611,0.091671,0.094740
Degree Award Date,0.016518,0.023567,0.035176,0.214398,0.189674,0.137275,0.129759,0.007598,0.042112,0.047822,...,-0.035686,0.020828,0.031044,0.114808,-0.011706,0.032341,0.016611,1.000000,0.689825,0.570396
Degree Confer Date,0.029512,0.024043,0.026171,0.292829,0.267045,0.113968,0.123814,0.009791,0.040259,0.064166,...,-0.047179,0.015377,0.083281,0.216321,0.002580,0.052545,0.091671,0.689825,1.000000,0.549919
Classification,0.085456,0.085969,0.042942,0.380866,0.307353,0.099954,0.122605,0.033126,0.062040,0.072477,...,-0.052079,0.021286,0.151137,0.291282,-0.083526,0.049742,0.094740,0.570396,0.549919,1.000000

In [11]:
df_drop_summer = df_drop_summer.drop(['HS City', 'Reported Grade', 'Degree Confer Date', 'Degree Award Date', 'Degree Award Date','Degree Confer Date','SAT Total', 'ACT Composite'], axis =1)

In [12]:
df_drop_summer= df_drop_summer.drop(['Year Term ID_y', 'Unnamed: 0.1'], axis =1)

In [18]:
df_drop_summer.head()

,SubjectID,Year Term ID_x,Term GPA,Cumul GPA,Cumul Hrs Earned,Cumul Hrs GPA,Term Transfer Hrs,Ps1 Timestat Code,Ps1 Major1 Code,Ps1 Major2 Code,Ps2 Ofcl Stat Flag,Ps2 Major1 Code,Ps2 Major2 Code,Credit Hrs,Repeated Flag,Dorm Area,Ps1 Acad Standing Desc,Gender,Citizen Country Name,Classification
0,172789163,20062.0,0.0,3.07,128.0,128.0,0.0,X,PSY,0,0,0,1,0.0,N,0,1,M,0,1
1,172846340,20102.0,3.3,2.70,128.0,77.0,26.0,P,PSC,0,0,0,1,4.0,N,0,0,F,0,1
2,172846340,20102.0,3.3,2.70,128.0,77.0,26.0,P,PSC,0,0,0,1,4.0,N,0,0,F,0,1
3,172857770,20162.0,0.0,2.20,128.0,124.0,0.0,F,ENG,0,0,0,1,0.0,N,0,1,M,0,1
4,172857770,20171.0,0.0,2.20,132.0,124.0,4.0,F,ENG,0,0,0,1,0.0,N,0,1,M,0,1

In [10]:
df_drop_summer.to_csv('summer.csv')

In [24]:
df_drop_summer = pd.get_dummies(df_drop_summer,columns=['Ps1 Timestat Code', 'Gender','Repeated Flag', 'Ps1 Major1 Code'])

In [9]:
df_drop_summer = df_drop_summer.drop(['Unnamed: 0'], axis =1)

In [11]:
X = df_drop_summer.drop(['Classification'],axis =1)
y = df_drop_summer['Classification']

In [29]:
df_drop_summer.head()

,SubjectID,Year Term ID_x,Term GPA,Cumul GPA,Cumul Hrs Earned,Cumul Hrs GPA,Term Transfer Hrs,Ps1 Timestat Code,Ps1 Major1 Code,Ps1 Major2 Code,Ps2 Ofcl Stat Flag,Ps2 Major1 Code,Ps2 Major2 Code,Credit Hrs,Repeated Flag,Dorm Area,Ps1 Acad Standing Desc,Gender,Citizen Country Name,Classification
0,172789163,20062.0,0.0,3.07,128.0,128.0,0.0,X,PSY,0,0,0,1,0.0,N,0,1,M,0,1
1,172846340,20102.0,3.3,2.70,128.0,77.0,26.0,P,PSC,0,0,0,1,4.0,N,0,0,F,0,1
2,172846340,20102.0,3.3,2.70,128.0,77.0,26.0,P,PSC,0,0,0,1,4.0,N,0,0,F,0,1
3,172857770,20162.0,0.0,2.20,128.0,124.0,0.0,F,ENG,0,0,0,1,0.0,N,0,1,M,0,1
4,172857770,20171.0,0.0,2.20,132.0,124.0,4.0,F,ENG,0,0,0,1,0.0,N,0,1,M,0,1

In [37]:
students= df_drop_summer.groupby(['Classification']).mean()

In [40]:
students.to_csv('0vs1.csv')

In [41]:
students

,SubjectID,Year Term ID_x,Term GPA,Cumul GPA,Cumul Hrs Earned,Cumul Hrs GPA,Term Transfer Hrs,Ps1 Major2 Code,Ps2 Ofcl Stat Flag,Ps2 Major1 Code,Ps2 Major2 Code,Credit Hrs,Dorm Area,Ps1 Acad Standing Desc,Citizen Country Name
Classification,,,,,,,,,,,,,,,
0,2.114456e+08,20066.054868,1.867857,2.786858,71.733530,57.752303,1.052199,0.020801,0.037159,0.068667,0.962608,3.48370,0.564355,0.695932,0.230036
1,2.175219e+08,20073.429884,3.187664,3.315677,86.546607,75.189762,1.714247,0.085893,0.077359,0.081250,0.915794,3.57841,0.779507,0.950745,0.132947

In [27]:
students = pd.DataFrame(students)

In [34]:
def trends(l):
    n = len(l)
    if(len(l)==1):
        return 0
    if((l[0]-l[n-1])>0):
        return 2
    if((l[0]-l[n-1])<0):
        return 1

In [ ]:
df_drop_summer

In [ ]:
def detail_trend(x):

In [30]:
grad = df_drop_summer.loc[df_drop_summer['Classification']==1]
non_grad = df_drop_summer.loc[df_drop_summer['Classification']==0]

In [ ]:
grad['SubjectID']

In [110]:
X = df_labeled.drop(['Classification'], axis =1)

In [ ]:
X_1 = pd.concat([X,onehot_encoded], axis =1)

In [46]:
X_1.to_csv('classification_X.csv')

In [47]:
y = df_labeled['Classification']

In [54]:
X_1= X_1.dropna()

In [55]:
from sklearn.model_selection import train_test_split #train test split
X_train, X_test, y_train, y_test = train_test_split(X_1, y, test_size = 0.2, random_state = 0)

ValueError: Found input variables with inconsistent numbers of samples: [2125706, 9058094]

In [50]:
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [51]:
classifier = Sequential()
classifier.add(Dense(activation = 'relu', input_dim = 125, units = 64, kernel_initializer = 'uniform'))
classifier.add(Dense(activation = 'relu', units = 64, kernel_initializer = 'uniform'))
classifier.add(Dense(activation = 'relu', units = 16, kernel_initializer = 'uniform'))
classifier.add(Dense(activation = 'relu', units = 8, kernel_initializer = 'uniform'))
classifier.add(Dense(activation = 'sigmoid', units = 1, kernel_initializer = 'uniform'))
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [52]:
history = classifier.fit(X_train, y_train, epochs=2, batch_size=10)
print(history.history.keys())
plt.plot(history.history['accuracy'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()

Epoch 1/2
   9100/7246475 [..............................] - ETA: 1:48:06 - loss: nan - accuracy: 0.0000e+00

KeyboardInterrupt: